<md-dialog aria-label="Edit Branch" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate="S_03266">Edit Branch</h2>
		</div>
	</md-toolbar>
	<div class="loading" ng-class="{'active':isLoading}"></div>
	<md-dialog-content class="commonDialog">
		<form name="branchForm">
			<div class="row">
				<div class="col-md-12 addbranch">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03115">Branch</label>
						<div class="form_input">
							<input type="text" name="branchName" ng-model="branch.name"  translate translate-attr-placeholder="S_03115" md-autofocus required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="branchForm.branchName.$error.required && !branchForm.branchName.$pristine" translate="S_03255"></span>
						</div>
					</div>
					<div class="form_group address">
						<span class="required_fill">*</span>
						<label for="" translate="S_02716">Address</label>
						<div class="form_input">
							<input type="text" ng-model="branch.address" name="address"  translate translate-attr-placeholder="S_03205" required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="branchForm.address.$error.required && !branchForm.address.$pristine" translate="S_03255"></span>
						</div>
					</div>
					<div class="form_group phone">
						<span class="required_fill">*</span>
						<label for="" translate="S_03121">Phone Number</label>
						<div class="form_input">
							<input type="text" ng-model="branch.telecom" name="telecom" translate translate-attr-placeholder="S_03121" required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="branchForm.telecom.$error.required && !branchForm.telecom.$pristine" translate="S_03255"></span>
						</div>
					</div>
					<div class="form_group contact">
						<span class="required_fill">*</span>
						<label for="" translate="S_03122">Contact</label>
						<div class="form_input">
							<select ng-model="branch.managerId" name="manager" ng-options="member.id as member.name for member in members" required>
								<option value="" ng-if="members.length==0"  translate="S_03281">Select someone</option>
							</select>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="branchForm.manager.$error.required && !branchForm.manager.$pristine" translate="S_03255"></span>
						</div>
					</div>
					<div class="float"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
				</div>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row" class="col-xs-12">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<md-button class="btn-green" ng-click="submit()" ng-disabled="branchForm.$invalid">
				<span translate="S_00495">Submit</span>
			</md-button>
		</div>
		<div class="col-xs-5">
			<md-button class="btn-white" ng-click="cancel()">
				<span translate="S_00111">Cancel</span>
			</md-button>
		</div>
		<div class="col-xs-1"></div>
	</md-dialog-actions>
</md-dialog>