<md-dialog aria-label="Edit Date of Purchase" ng-cloak>
    <md-toolbar class="bg-white">
        <div class="md-toolbar-tools">
            <h2 translate="S_00174">Edit Date of Purchase</h2>
        </div>
    </md-toolbar>
    <div class="loading" ng-class="{'active':isLoading}"></div>
    <md-dialog-content class="commonDialog">
        <form name="deviceForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form_group">
                        <label for="" translate="S_03169">Date of Purchase</label>
                        <div class="form_input">
                            <md-datepicker ng-model="device.pickpurchaseDate" md-placeholder="Enter date" md-autofocus required></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <md-button class="btn-green" ng-click="submit()" ng-disabled="deviceForm.$invalid">
                <span translate="S_00495">Submit</span>
            </md-button>
        </div>
        <div class="col-xs-5">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
        <div class="col-xs-1"></div>
    </md-dialog-actions>
</md-dialog>