<md-dialog aria-label="Export" ng-cloak>
    <md-toolbar class="bg-white">
        <div class="md-toolbar-tools">
            <h2 translate="S_00496">Export</h2>
        </div>
    </md-toolbar>
    <md-dialog-actions layout="row" class="col-xs-12" md-autofocus>

        <div ng-class="{true: 'col-xs-4', false: 'hidden'}[isData]">
            <md-button class="btn-green" ng-csv="exportData" filename="{{exportFileName}}" csv-header="dataHeader" ng-click="cancel()">
               <span translate="S_03199">Export to CSV</span> 
            </md-button>
        </div>
        <div ng-class="{true: 'col-xs-4', false: 'col-xs-6'}[isData]">
            <md-button class="btn-green" ng-click="printData()">
                <span translate="S_00514">Print</span>
            </md-button>
        </div>

        <div ng-class="{true: 'col-xs-4', false: 'col-xs-6'}[isData]">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>