<md-dialog aria-label="flag confirm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="S_03154">Flag</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="commonDialog confirmDialog">
        <form>
            <div class="row">
                <div class="col-md-12">
                   
                    <input type="checkbox" ng-model="flag" name="flag"> <label for="flag" translate="S_03160"></label>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="layout-row" class="col-xs-12" md-autofocus>
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <md-button class="btn-green" ng-click="confirm()">
				<span translate="S_00495">Submit</span>
			</md-button>
        </div>
        <div class="col-xs-5">
            <md-button class="btn-white" ng-click="close()" >
				<span translate="S_00111">Cancel</span>
			</md-button>
        </div>
        <div class="col-xs-1"></div>
    </md-dialog-actions>
</md-dialog>