<md-dialog aria-label="Group" ng-cloak>
    <md-toolbar class="bg-white">
        <div class="md-toolbar-tools">
            <h2 translate="S_03152">Group</h2>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="icon-cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div  ng-class="{'loading active':isLoading}"></div>
    <md-dialog-content class="commonDialog">
        <div class="row">
            <div class="col-xs-12">
                <form name="groupForm" class="form-horizontal">
                    <div class="form-group" ng-repeat="(groupName, active) in filterGroup(groupEditCtrl.patientGroup, true)">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-value="groupName| translate" disabled/>
                        </div>
                        <div class="col-xs-4 list-inline">
                            <button class="noBtn btn" ng-click="removeGroup(groupName)"><i class="fa fa-minus"></i></button>
                            <button class="noBtn btn" disabled><i class="fa fa-plus disabled"></i></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="groupEditCtrl.addGroupName" ng-options="key as key | translate for (key , value) in filterGroup(groupEditCtrl.patientGroup, false)"
                                required>
                        <option value="" translate="S_03210">Please Select Group</option>
                    </select>
                        </div>
                        <div class="col-xs-4 list-inline">
                            <button class="noBtn btn" disabled><i class="fa fa-minus disabled" md-autofocus></i></button>
                            <button class="noBtn btn" ng-click="addGroup()" ng-disabled="groupEditCtrl.addGroupName == undefined"><i class="fa fa-plus" ng-class="{'disabled':groupEditCtrl.addGroupName == undefined}"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <md-button class="btn-green" ng-click="submit()">
               <span translate="S_00495">Submit</span>
            </md-button>
        </div>
        <div class="col-xs-5">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
        <div class="col-xs-1"></div>
    </md-dialog-actions>
</md-dialog>