<md-dialog aria-label="Rename Group" ng-cloak>
    <md-toolbar class="bg-white">
        <div class="md-toolbar-tools">
            <h2 translate="S_03185">Rename Group</h2>

            <md-button class="md-icon-button" ng-click="cancel()">

                <md-icon aria-label="Close dialog" class="icon-cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div class="loading" ng-class="{'active':isLoading}"></div>
    <md-dialog-content class="commonDialog">
        <form name="groupForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form_group">
                        <div class="form_input">
                            <input type="text" class="form-control" ng-model="groupRenameCtrl.groupName" md-autofocus required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <md-button class="btn-green" ng-click="submit()" ng-disabled="groupForm.$invalid">
                <span translate="S_00495">Submit</span>
            </md-button>
        </div>
        <div class="col-xs-5">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
        <div class="col-xs-1"></div>
    </md-dialog-actions>
</md-dialog>