<md-dialog aria-label="Edit Member" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate="S_03265">Edit Member</h2>
		</div>
	</md-toolbar>
	<div class="loading" ng-class="{'active':isLoading}"></div>
	<md-dialog-content class="commonDialog">
		<form name="memberForm">
			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00015">Last Name</label>
						<div class="form_input">
							<input type="text" name="lastName" ng-model="member.lastName" translate translate-attr-placeholder="S_03200" required md-autofocus>
							<div>
								<span class="errorMsg" data-ng-show="memberForm.lastName.$error.required && !memberForm.lastName.$pristine" translate="S_03255"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00014">First Name</label>
						<div class="form_input">
							<input type="text" name="firstName" ng-model="member.firstName" required translate translate-attr-placeholder="S_03201">
							<div>
								<span class="errorMsg" data-ng-show="memberForm.firstName.$error.required && !memberForm.firstName.$pristine" translate="S_03255"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">
						<label for="" translate="S_01404">Account</label>
						<div class="form_input">
							<span class="account_span" ng-bind="member.username"></span>
							<input type="hidden"  name="userName" ng-model="member.username" translate translate-attr-placeholder="S_01404" ng-pattern="usernamePatten" > 
							<div>
								<span class="errorMsg" data-ng-show="memberForm.userName.$error.pattern && !memberForm.userName.$pristine" translate="S_03249">Invalid Account need include [A-Z,a-z,0-9] </span>
								<span class="errorMsg" data-ng-show="memberForm.userName.$error.required && !memberForm.userName.$pristine" translate="S_03255"></span>
							</div>  
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group">
						<label for="" translate="S_03258">Title</label>
						<div class="form_input">
							<input type="text" ng-model="member.title" translate translate-attr-placeholder="S_03208">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">						
						<label for="" translate="S_03115">Branch</label>
						<div class="form_input">
							<select ng-model="member.branchId" name="branchId" ng-options="branch.id as branch.name for branch in branches" >
								<option value="" translate="S_03209">Please Select branch</option></select>
						</div>						
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group" ng-if="currentId==member.id">
						<label for="" translate="S_03148">Old Password</label>
						<div class="form_group">
							<input type="password" ng-model="member.oldpassword" translate translate-attr-placeholder="S_03148">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">
						<label for="" translate="S_00005">Password</label>
						<div class="form_input">
							<input type="password" id="password" name="password" ng-model="member.password" translate translate-attr-placeholder="S_00005" ng-minlength="8" ng-change="member.confrimPassword=''">
							<div>
								<span class="errorMsg" ng-show="memberForm.password.$error.minlength && !memberForm.password.$pristine" translate="S_03251">password should be minimum 8 character.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group">
						<label for="" translate="S_00013">Confirm Password</label>
						<div class="form_input">
							<input type="password" id="confirmPassword" name="confirmPassword" ng-model="member.confrimPassword" translate translate-attr-placeholder="S_00013"
								pw-check="password" >
							<div>								
								<span class="errorMsg" ng-show="memberForm.confirmPassword.$error.pwmatch" translate="S_03253">Passwords don't match.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-xs-12">
                    <div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
                </div>
            </div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row" class="col-xs-12">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<md-button class="btn-green" ng-click="submit()" ng-disabled="memberForm.$invalid">
				<span translate="S_00495">Submit</span>
			</md-button>
		</div>
		<div class="col-xs-5">
			<md-button class="btn-white" ng-click="cancel()">
				<span translate="S_00111">Cancel</span>
			</md-button>
		</div>
		<div class="col-xs-1"></div>
	</md-dialog-actions>
</md-dialog>