<md-dialog aria-label="Edit Note" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="">Edit Note</h2>
        </div>
    </md-toolbar>
    <div class="loading" ng-class="{'active':isLoading}"></div>
    <md-dialog-content class="noteDialog">
        <form name="noteForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="label">服務類別</div>
                    <div class="content">
                        <select ng-model="selectClass" ng-options="item.label as item.value for item in classItems" md-autofocus></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="label">筆記模板</div>
                    <div class="content category-bar">
                        <div class="category-item" ng-repeat="item in selectItems">{{item.category}}<a ng-click="removeSelectItem(item.value)"><i class="fa fa-times"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 category-content">
                    <div class="left">
                        <category-item ng-repeat="categoryItem in categoryItems" servicename="NoteEditService" category="{{categoryItem}}"></category-item>
                    </div>
                    <div class="right">
                        <div class="template-flied" ng-repeat="template in selectTemplate">
                            <div class="template-title">
                                {{template.label}}
                                <div class="remove">
                                    <a ng-click="removeSelectItem(template.id)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="template-body">
                                <div class="template-content">
                                    <div class="text-flied" contenteditable ng-bind-html="trustAsHtml(template.template)" ng-model="template.post.data"></div>

                                </div>
                                <div class="template-comment">
                                    註解：
                                    <div class="text-flied" contenteditable ng-model="template.post.comment" ng-bind="template.comment"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
            <md-button class="btn-green" ng-click="submit()" ng-disabled="noteForm.$invalid">
                <span translate="S_00495">Submit</span>
            </md-button>
        </div>
        <div class="col-xs-3">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
        <div class="col-xs-3"></div>
    </md-dialog-actions>
</md-dialog>