<md-dialog aria-label="Edit Service"  ng-cloak>
	<md-toolbar >
		<div class="md-toolbar-tools">
			<h2 translate="S_03151">Edit Service</h2>          
		</div>
	</md-toolbar>
	<div class="loading" ng-class="{'active':isLoading}"></div>
	<md-dialog-content class="commonDialog">
		<form name="packageForm">
			<div class="row">
				<div class="col-md-12">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03150">Service Name</label>
						<div class="form_input">
							<input type="text" ng-model="package.title" name="title" translate translate-attr-placeholder="S_03189" md-autofocus required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="packageForm.title.$error.required && !packageForm.title.$pristine" translate="S_03255"></span>
						</div>
					</div>
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03254">Month</label>
						<div class="form_input">
							<input type="number" ng-model="package.monthValue" translate translate-attr-placeholder="S_03254" name="month" ng-pattern="/^[0-9]+$/" min="1" required>
						</div>
						<div>
							<!--<span class="errorMsg" data-ng-show="packageForm.price.$error.pattern && !packageForm.price.$pristine">Only Number.</span>-->
							<span class="errorMsg" data-ng-show="packageForm.month.$error.required && !packageForm.month.$pristine" translate="S_03255"></span>
						</div>
					</div>
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03124">Price</label>
						<div class="form_input">
							<input type="number" ng-model="package.price" translate translate-attr-placeholder="S_03124" name="price" min="0" ng-pattern="/^[0-9]+$/" required>
						</div>
						<div>
							<!--<span class="errorMsg" data-ng-show="packageForm.price.$error.pattern && !packageForm.price.$pristine">Only Number.</span>-->
							<span class="errorMsg" data-ng-show="packageForm.price.$error.required && !packageForm.price.$pristine" translate="S_03255"></span>
						</div>
					</div>					
					<div class="form_group">
						<label for="" translate="S_03188">Note</label>
						<div class="form_input">
							<textarea ng-model="package.note"  translate translate-attr-placeholder="S_03188"  cols="50" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-xs-12">
                    <div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
                </div>
            </div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row" class="col-xs-12">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<md-button class="btn-green" ng-click="submit()" ng-disabled="packageForm.$invalid">
				<span translate="S_00495">Submit</span>
			</md-button>
		</div>
		<div class="col-xs-5">
			<md-button class="btn-white" ng-click="cancel()" >
				<span translate="S_00111">Cancel</span>
			</md-button>
		</div>
		<div class="col-xs-1"></div>
	</md-dialog-actions>
</md-dialog>
