<md-dialog aria-label="Create Patient" ng-cloak>
	<md-toolbar class="bg-white">
		<div class="md-toolbar-tools">
			<h2 translate="S_03126">Create Patient</h2>
		</div>
	</md-toolbar>
	<div class="loading" ng-class="{'active':isLoading}"></div>
	<md-dialog-content class="commonDialog">
		<form name="patientForm">
			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00015">Last Name</label>
						<div class="form_input">
							<input type="text" class="form-control" ng-model="patient.lastName" name="lastName" translate translate-attr-placeholder="S_03200" md-autofocus required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.lastName.$error.required && !patientForm.lastName.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00014">First Name</label>
						<div class="form_input">
							<input type="text" class="form-control" ng-model="patient.firstName" name="firstName" translate translate-attr-placeholder="S_03201" required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.firstName.$error.required && !patientForm.firstName.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03121">Phone Number</label>
						<div class="form_input">
							<input type="text" class="form-control" name="phoneNumber" ng-model="patient.phone" translate translate-attr-placeholder="S_03121" required>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.phoneNumber.$error.required && !patientForm.phoneNumber.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03142">Gender</label>
						<div class="form_input">
							<select name="gender" ng-model="patient.gender" class="form-control" required>
								<option value="male" translate="S_03202">Male</option>
								<option value="female"  translate="S_03203">Female</option>
							</select>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.gender.$error.required && !patientForm.gender.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form_group">
						<label for="" translate="S_03092">Blood Type</label>
						<div class="form_input">
							<select ng-model="patient.bloodType" class="form-control">
								<option value=""  translate="S_03204">Select blood type</option>
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="O">O</option>
								<option value="AB">AB</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form_group">
						<div class="form_input">
							<span class="required_fill">*</span>
							<label for="" translate="S_03055">Birth Date</label>
							<md-datepicker name="birthday" ng-model="patient.pickbirthday" md-placeholder="Enter date" required></md-datepicker>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.birthday.$error.required && !patientForm.birthday.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">
						<label for="" translate="S_03056">Weight</label>
						<div class="form_input">
							<input type="number" class="form-control" ng-model="patient.weight" translate translate-attr-placeholder="S_03056" min="0">
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group">
						<label for="" translate="S_03057">Height</label>
						<div class="form_input">
							<input type="number" class="form-control" ng-model="patient.height" translate translate-attr-placeholder="S_03057" min="0">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form_group patientAddress">
						<span class="required_fill">*</span>
						<label for="" translate="S_02716">Address</label>
						<div class="form_input">
							<input type="text" class="form-control" name="address" ng-model="patient.address" translate translate-attr-placeholder="S_03205" required/>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.address.$error.required && !patientForm.address.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form_group patientAddress">
						<span class="required_fill">*</span>
						<label for="" ><span translate="S_00783">E-mail</span>(<span translate="S_01404">Account</span>)</label>
						<div class="form_input">
							<input type="email" class="form-control" ng-model="patient.username" name="username" translate translate-attr-placeholder="S_03206" required/>
							<input type="hidden" ng-model="patient.email" ng-value="patient.username" />
							<span class="errorMsg" data-ng-show="patientForm.username.$error.required && !patientForm.username.$pristine" translate="S_03255"></span>
							<span class="errorMsg" data-ng-show="patientForm.username.$error.email && !patientForm.username.$pristine" translate="S_03264">Please type the Email format.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00005">Password</label>
						<div class="form_input">
							<input type="password" class="form-control" name="password" id="password" ng-model="patient.password" translate translate-attr-placeholder="S_00005"
								ng-minlength="8" ng-change="patient.confirmpassword=''" required>
							<div>
								<span class="errorMsg" data-ng-show="patientForm.password.$error.required && !patientForm.password.$pristine" translate="S_03255"></span>
								<span class="errorMsg" ng-show="patientForm.password.$error.minlength" translate="S_03251">password should be minimum 8 character.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00013">Confirm Password</label>
						<div class="form_input">
							<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="patient.confirmpassword"
								translate translate-attr-placeholder="S_00013" pw-check="password" required>
							<div>
								<span class="errorMsg" ng-show="patientForm.confirmPassword.$error.pwmatch" translate="S_03253">Passwords don't match.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<label for="" translate="S_03058">Emergency Contact</label>
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_00296">Name</label>
						<div class="form_input">
							<input type="text" class="form-control" ng-model="patient.emgName" name="emgName"  translate translate-attr-placeholder="S_03207" required/>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.emgName.$error.required && !patientForm.emgName.$pristine" translate="S_03255"></span>						
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<label for="" >&nbsp;</label>
					<div class="form_group">
						<span class="required_fill">*</span>
						<label for="" translate="S_03121">Phone</label>
						<div class="form_input">
							<input type="text" class="form-control" ng-model="patient.emgPhone" name="emgPhone" translate translate-attr-placeholder="S_03121" required/>
						</div>
						<div>
							<span class="errorMsg" data-ng-show="patientForm.emgPhone.$error.required && !patientForm.emgPhone.$pristine" translate="S_03255"></span>						
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
				</div>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row" class="col-xs-12">
		<div class="col-xs-3"></div>
		<div class="col-xs-3">
			<md-button class="btn-green" ng-click="submit()" ng-disabled="patientForm.$invalid">
				<span translate="S_01062">Submit</span>
			</md-button>
		</div>
		<div class="col-xs-3">
			<md-button class="btn-white" ng-click="cancel()">
				<span translate="S_00111">Cancel</span>
			</md-button>
		</div>
		<div class="col-xs-3"></div>
	</md-dialog-actions>
</md-dialog>