<md-dialog aria-label="Prescription" ng-cloak>
    <md-dialog-content class="commonDialog">
        <div id="printThis">
            <img style="margin: auto; max-width: 100%;" alt="Prescription" ng-src="{{prescriptionImg}}">
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12 prescription">
        <div class="col-xs-12">
            <md-button class="btn-white" ng-click="cancel()" md-autofocus>
                <span translate="S_00122">Close</span>
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>