<md-dialog aria-label="Edit Purchase" ng-cloak>
    <md-toolbar class="bg-white">
        <div class="md-toolbar-tools">
            <h2 translate="S_03170">Edit Purchase</h2>
        </div>
    </md-toolbar>
    <div class="loading" ng-class="{'active':isLoading}"></div>
    <md-dialog-content class="commonDialog">
        <form name="purchaseForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form_group">
                        <span class="required_fill">*</span>
                        <label for="" translate="S_03059">Package</label>
                        <div class="form_input">
                            <select ng-model="purchase.package" name="package" ng-options="(package.id+'/'+package.monthValue) as package.title+'('+package.monthValue+' month)' for package in packages"
                                ng-change="calcDate()" md-autofocus required></select>
                        </div>
                        <div>
							<span class="errorMsg" data-ng-show="purchaseForm.package.$error.required && !purchaseForm.package.$pristine" translate="S_03255"></span>
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form_group">
                        <div class="form_input">
                            <label for="" translate="S_03162">Start Date</label>
                            <div><md-datepicker name="pickStartDate" ng-model="purchase.pickStartDate" md-placeholder="Enter date" ng-change="calcDate()" required></md-datepicker></div>
                            <input type="hidden" ng-model="purchase.startDate" ng-bind="purchase.startDate" />
                        </div>
                        <div>
							<span class="errorMsg" data-ng-show="purchaseForm.pickStartDate.$error.required && !purchaseForm.pickStartDate.$pristine" translate="S_03255"></span>
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form_group">
                        <div class="form_input">
                            <label for="" translate="S_03163">End Date</label>
                            <div ng-bind="purchase.endDate">%End Date</div>
                            <input type="hidden" ng-model="purchase.endDate" ng-bind="purchase.endDate" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <md-button class="btn-green" ng-click="submit()" ng-disabled="purchaseForm.$invalid">
                <span translate="S_00495">Submit</span>
            </md-button>
        </div>
        <div class="col-xs-5">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
        <div class="col-xs-1"></div>
    </md-dialog-actions>
</md-dialog>