<md-dialog aria-label="Create Purchase" ng-cloak>
    <md-toolbar class="bg-white">
        <div class="md-toolbar-tools">
            <h2 ng-hide="isMessage" translate="S_03127">Push Notification</h2>
            <h2 ng-show="isMessage" translate="S_02648">Message</h2>
        </div>
    </md-toolbar>
    <div class="loading" ng-class="{'active':isLoading}"></div>
    <md-dialog-content class="commonDialog">
        <form name="pushMessageForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form_group">
                        <label ng-hide="isMessage || !isAll" ><i class="fa fa-info-circle" aria-hidden="true" ></i><span translate="S_03196">it will send to All people</span> </label>
                        <label ng-hide="isMessage || isAll"><i class="fa fa-info-circle" aria-hidden="true" ></i><span translate="S_03260"  translate-values="{ Number: pushNumber }" >It will send to {{Number}}  people</span></label>
                        <div class="form_input">
                            <textarea name="message" ng-model="pushList.content" translate translate-attr-placeholder="S_03197"  cols="50" rows="5" md-autofocus required></textarea>
                        </div>
                        <div>
							<span class="errorMsg" data-ng-show="pushMessageForm.message.$error.required && !pushMessageForm.message.$pristine" translate="S_03255"></span>
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="errorMsg" ng-bind="errorMsg" ng-show="checkResult"></div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="col-xs-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <md-button class="btn-green" ng-click="submit()" ng-disabled="pushMessageForm.$invalid">
                <span translate="S_02563">Send</span>
            </md-button>
        </div>
        <div class="col-xs-5">
            <md-button class="btn-white" ng-click="cancel()">
                <span translate="S_00111">Cancel</span>
            </md-button>
        </div>
        <div class="col-xs-1"></div>
    </md-dialog-actions>
</md-dialog>