<md-dialog aria-label="threshold confirm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="S_03514">設定目標值與生活習慣</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="commonDialog thresholdAndLifecycle">
        <form>
            <div class="confirmDialogContent">
                <uib-tabset active="lifecycleActive" class="dialog-tabs-items">
                    <uib-tab select="rerender($index)" ng-repeat="tab in tabItems" index="$index" heading="{{tab.title}}" ng-if="!(isAuthorized(userRoles.patient))" classes="dialog-tabs-item" ng-click="patDCtrl.searchDetailData()">
                        <div ng-show="$index == 0" class="contentBox">
                            <div class="ruleBox">
                                <div class="boxTitle">目標值</div>
                                <div class="ruleInput"><div class="title">晨起</div> <input type="number" ng-class="{red_border:errorArr.indexOf('bg_morning_l') != -1}" ng-model="rule.bg_morning_l" min="0"> <span>~</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('bg_morning_h') != -1}" ng-model="rule.bg_morning_h" min="0"> <span class="unit">mg/dl</span></div>
                                <div class="ruleInput"><div class="title">餐前</div> <input type="number" ng-class="{red_border:errorArr.indexOf('bg_before_meal_l') != -1}" ng-model="rule.bg_before_meal_l" min="0"> <span>~</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('bg_before_meal_h') != -1}" ng-model="rule.bg_before_meal_h" min="0"> <span class="unit">mg/dl</span></div>
                                <div class="ruleInput"><div class="title">餐後</div> <input type="number" ng-class="{red_border:errorArr.indexOf('bg_after_meal_l') != -1}" ng-model="rule.bg_after_meal_l" min="0"> <span>~</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('bg_after_meal_h') != -1}" ng-model="rule.bg_after_meal_h" min="0"> <span class="unit">mg/dl</span></div>
                                <div class="ruleInput"><div class="title">睡前</div> <input type="number" ng-class="{red_border:errorArr.indexOf('bg_before_sleep_l') != -1}" ng-model="rule.bg_before_sleep_l" min="0"> <span>~</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('bg_before_sleep_h') != -1}" ng-model="rule.bg_before_sleep_h" min="0"> <span class="unit">mg/dl</span></div>
                                <div class="ruleInput"><div class="title">凌晨</div> <input type="number" ng-class="{red_border:errorArr.indexOf('bg_daybreak_l') != -1}" ng-model="rule.bg_daybreak_l" min="0"> <span>~</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('bg_daybreak_h') != -1}" ng-model="rule.bg_daybreak_h" min="0"> <span class="unit">mg/dl</span></div>
                            </div>
                            <div class="habitBox">
                                <div class="boxTitle">生活習慣</div>
                                    <div class="habitInput"> <div class="title">晨起</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bg_wakeup_b') != -1}" ng-model="rule.time_bg_wakeup_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bg_wakeup_e') != -1}" ng-model="rule.time_bg_wakeup_e"/> </div>
                                    <div class="habitInput"> <div class="title">早餐前</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_before_breakfast_b') != -1}" ng-model="rule.time_before_breakfast_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_before_breakfast_e') != -1}" ng-model="rule.time_before_breakfast_e"/> </div>
                                    <div class="habitInput"> <div class="title">早餐後</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_after_breakfast_b') != -1}" ng-model="rule.time_after_breakfast_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_after_breakfast_e') != -1}" ng-model="rule.time_after_breakfast_e"/> </div>
                                    <div class="habitInput"> <div class="title">午餐前</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_before_lunch_b') != -1}" ng-model="rule.time_before_lunch_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_before_lunch_e') != -1}" ng-model="rule.time_before_lunch_e"/> </div>
                                    <div class="habitInput"> <div class="title">午餐後</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_after_lunch_b') != -1}" ng-model="rule.time_after_lunch_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_after_lunch_e') != -1}" ng-model="rule.time_after_lunch_e"/> </div>
                                    <div class="habitInput"> <div class="title">晚餐前</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_before_dinner_b') != -1}" ng-model="rule.time_before_dinner_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_before_dinner_e') != -1}" ng-model="rule.time_before_dinner_e"/> </div>
                                    <div class="habitInput"> <div class="title">晚餐後</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_after_dinner_b') != -1}" ng-model="rule.time_after_dinner_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_after_dinner_e') != -1}" ng-model="rule.time_after_dinner_e"/> </div>
                                    <div class="habitInput"> <div class="title">睡前</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_sleep_b') != -1}" ng-model="rule.time_sleep_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_sleep_e') != -1}" ng-model="rule.time_sleep_e"/> </div>
                                    <div class="habitInput"> <div class="title">凌晨</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bg_night_b') != -1}" ng-model="rule.time_bg_night_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bg_night_e') != -1}" ng-model="rule.time_bg_night_e"/> </div>
                            </div>
                        </div>
                        <div ng-show="$index == 1" class="contentBox">
                            <div class="ruleBox">
                                <div class="boxTitle">目標值</div>
                                <div class="ruleInput_GP"> <div class="title">晨起</div> <div class="inputBox"> <div><span>收縮壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_wakeup_l') != -1}" ng-model="rule.sys_wakeup_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_wakeup_h') != -1}" ng-model="rule.sys_wakeup_h"><span class="unit">mmHg</span> </div> <div><span>舒張壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_wakeup_l') != -1}" ng-model="rule.dia_wakeup_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_wakeup_h') != -1}" ng-model="rule.dia_wakeup_h"><span class="unit">mmHg</span> </div> </div> </div>
                                <div class="ruleInput_GP"> <div class="title">早上</div> <div class="inputBox"> <div><span>收縮壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_morning_l') != -1}" ng-model="rule.sys_morning_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_morning_h') != -1}" ng-model="rule.sys_morning_h"><span class="unit">mmHg</span> </div> <div><span>舒張壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_morning_l') != -1}" ng-model="rule.dia_morning_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_morning_h') != -1}" ng-model="rule.dia_morning_h"><span class="unit">mmHg</span> </div> </div> </div>
                                <div class="ruleInput_GP"> <div class="title">中午</div> <div class="inputBox"> <div><span>收縮壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_noon_l') != -1}" ng-model="rule.sys_noon_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_noon_h') != -1}" ng-model="rule.sys_noon_h"><span class="unit">mmHg</span> </div> <div><span>舒張壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_noon_l') != -1}" ng-model="rule.dia_noon_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_noon_h') != -1}" ng-model="rule.dia_noon_h"><span class="unit">mmHg</span> </div> </div> </div>
                                <div class="ruleInput_GP"> <div class="title">下午</div> <div class="inputBox"> <div><span>收縮壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_afternoon_l') != -1}" ng-model="rule.sys_afternoon_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_afternoon_h') != -1}" ng-model="rule.sys_afternoon_h"><span class="unit">mmHg</span> </div> <div><span>舒張壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_afternoon_l') != -1}" ng-model="rule.dia_afternoon_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_afternoon_h') != -1}" ng-model="rule.dia_afternoon_h"><span class="unit">mmHg</span> </div> </div> </div>
                                <div class="ruleInput_GP"> <div class="title">晚上</div> <div class="inputBox"> <div><span>收縮壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_night_l') != -1}" ng-model="rule.sys_night_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('sys_night_h') != -1}" ng-model="rule.sys_night_h"><span class="unit">mmHg</span> </div> <div><span>舒張壓</span> <input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_night_l') != -1}" ng-model="rule.dia_night_l"><span>~</span><input type="number" min="0" ng-class="{red_border:errorArr.indexOf('dia_night_h') != -1}" ng-model="rule.dia_night_h"><span class="unit">mmHg</span> </div> </div> </div>
                            </div>
                            <div class="habitBox">
                                <div class="boxTitle">生活習慣</div>
                                <div class="habitInput"> <div class="title">晨起</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bp_wake_b') != -1}" ng-model="rule.time_bp_wake_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bp_wake_e') != -1}" ng-model="rule.time_bp_wake_e"/> </div>
                                <div class="habitInput"> <div class="title">早上</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_morning_b') != -1}" ng-model="rule.time_morning_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_morning_e') != -1}" ng-model="rule.time_morning_e"/> </div>
                                <div class="habitInput"> <div class="title">中午</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_noon_b') != -1}" ng-model="rule.time_noon_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_noon_e') != -1}" ng-model="rule.time_noon_e"/> </div>
                                <div class="habitInput"> <div class="title">下午</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_afternoon_b') != -1}" ng-model="rule.time_afternoon_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_afternoon_e') != -1}" ng-model="rule.time_afternoon_e"/> </div>
                                <div class="habitInput"> <div class="title">晚上</div> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bp_night_b') != -1}" ng-model="rule.time_bp_night_b"/> <span>-</span> <input type="text" ng-class="{red_border:errorArr.indexOf('time_bp_night_e') != -1}" ng-model="rule.time_bp_night_e"/> </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </form>
        <p ng-if="errorArr.length > 1" style="text-align: center; margin-top: 10px; color: red;">請確認目標區間後面的輸入框大於前面的，或者是時間區間的設定沒有時間是重疊的</p>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="row">
        <div class="col-xs-10"></div>

        <div class="col-xs-1" style="margin-bottom: 10px;">
            <button class="btn-green-custom btn btn-default" ng-click="cancel()"> 取消</button>
        </div>
        <div class="col-xs-1" style="margin-bottom: 10px;">
            <button class="btn-green-custom btn btn-default" ng-click="submit()"> 儲存</button>
        </div>
    </md-dialog-actions>
</md-dialog>