<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown" ng-if="isAuthorized(userRoles.caregiver)">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell fa-fw"></i> <span class="notify-badge" ng-bind="mainCtrl.notificationes.length" ng-show="mainCtrl.notificationes.length>0"></span>
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li class="alert-item" ng-repeat="notfication in mainCtrl.notificationes | orderBy:'createTime':true">
                <a ng-click="mainCtrl.readEmergencyData(notfication.id,notfication.createTime)">
                    <div class="alert-message danger" translate="S_03256" translate-values="{Name:notfication.name}"></div>
                    <div class="alert-time text-muted small " ng-bind="notfication.fromNow"></div>
                    <div class="clear-float"></div>
                    <!--<span ng-bind="notfication.name"></span>-->
                    <!--<span class="danger" translate="S_03256" translate-values="{Name:notfication.name}"></span>
                        <span class="pull-right text-muted small " ng-bind="notfication.fromNow">%d% minutes ago</span>-->
                </a>

                <div ng-hide="$last" class="divider"></div>

            </li>


            <li ng-if="mainCtrl.notificationes.length==0" translate="S_03250">No Notification available</li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
            <span ng-bind="mainCtrl.currentUser.name"></span>
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>

        </a>
        <ul class="dropdown-menu dropdown-user">
            <li ng-if="!(isAuthorized(userRoles.patient))"><a ui-sref="main.profile"><i class="fa fa-user fa-fw"></i><span translate="S_03005"> Profile</span></a>
            </li>
            <li ng-if="!(isAuthorized(userRoles.patient))" class="divider"></li>
            <li><a ng-click="mainCtrl.logout()"><i class="fa fa-sign-out fa-fw"></i><span translate="S_03147"> Logout</span></a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!--<li class="dropdown" ng-hide=>
        <select ng-model="appCtrl.lang" ng-change="changeLanguage(appCtrl.lang)" >
            <option value="en">English</option>
            <option value="zh-tw">繁體中文</option>
        </select>
    </li>-->
    <!-- /.dropdown -->
</ul>