<div id="header">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top navbar-fix" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="mainCtrl.hrefHome()">
                <img src="assets/resources/images/logo_nav.svg">
                <p>aBeing Wellness <span ng-if="!(isAuthorized(userRoles.patient))"> - <span ng-bind="mainCtrl.shopName" ></span></span> <span ng-if="isAuthorized(userRoles.caregiver)" ng-bind="mainCtrl.currentUser.branchName"></span>
                            
                <br><span translate="S_03107" ng-if="!(isAuthorized(userRoles.patient))"> Pharmacy Management System</span> 
                 <span ng-if="isAuthorized(userRoles.admin)" > - </span>
                 <span ng-if="isAuthorized(userRoles.admin)" translate="S_03113"> Admin Mode</span>
                 </p>               
            </a>
        </div>
        <!-- /.navbar-header -->
        <header-notification></header-notification>
        <!-- /.navbar-top-links -->
        <sidebar ng-if="(isAuthorized(userRoles.caregiver)) && mainCtrl.isDashboard()"></sidebar>
        <!-- /.navbar-static-side -->
    </nav>

</div>