<div class="type-card">
    <div class="card-icon">        
        <img ng-src="assets/resources/images/type/ic_{{typeData.type}}.svg">
    </div>
    <div class="card-content">
        <div class="type-title" translate="{{typeData.title}}">          
        </div>
        <div class="type-value" ng-bind="typeData.dataValue" ng-class="{'danger':typeData.abnomal}">30</div>
        <div class="data-unit" ng-bind="typeData.unit">BPM</div>
         
        <div class="type-bottom" ng-bind="transDate(typeData)">                     
        </div>
    </div>
    
    
</div>