<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref="main.dashboard"   ng-class="{'active':mainCtrl.currentGroup==''}" ng-click="mainCtrl.setCurrentGroup('')" translate="S_02757" >Dashboard<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-repeat="grouplist in mainCtrl.groups">
                    <li>
                        <a ui-sref="main.groups({groupId:grouplist.id})" ng-click="mainCtrl.setCurrentGroup(grouplist.name)" translate="{{grouplist.name}}" ng-class="{'active':grouplist.name==mainCtrl.currentGroup}">%Group Name%</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>