<div class="container tramsformer-inner">
    <div class="row">
        <div class="col-lg-3">
            <a ui-sref="main.member" role="button">
                <div class="function-thub">
                    <img class="item-member" src="assets/resources/images/member.svg">
                    <div>
                        <h3 translate="S_03114">Member Management</h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <a ui-sref="main.branch" role="button">
                <div class="function-thub">
                    <img class="item-branch" src="assets/resources/images/branch.svg">
                    <div>
                        <h3 translate="S_03115">Branch</h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <a ui-sref="main.service" role="button">
                <div class="function-thub">
                    <img class="item-service" src="assets/resources/images/service.svg">
                    <div>
                        <h3 translate="S_03116">Service</h3>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-lg-3">
            <a ui-sref="main.log" role="button">
                <div class="function-thub">
                    <img class="item-service" src="assets/resources/images/login_history.svg">
                    <div>
                        <h3 translate="S_03171">Log</h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
<!-- /.row -->