<div class="table-form">
    <div class="table-header">
        <div class="function-subject">
            <img class="f-bar-icon" src="assets/resources/images/branch.svg"><span translate="S_03115"> Branch</span>
        </div>
        <div class="function-operation">
            <ul class="nav navbar-left">
                <li><button ng-click="branchCtrl.addBranch()"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span translate="S_03120">New Branch</span></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-content">
       <table datatable="" class="table" dt-options="branchCtrl.dtOptions" dt-columns="branchCtrl.dtColumns"
            dt-instance="branchCtrl.dtInstance" dt-column-defs="branchCtrl.dtColumnsDef"></table>
    </div>
    
    <!-- /.row -->
</div>