<div class="table-form">
    <div class="table-content printArea">
        <table datatable="" class="table table-striped table-bordered table-hover" dt-options="patDCtrl.commOptions" dt-columns="patDCtrl.commColumns"
            dt-instance="patDCtrl.commInstance">
        </table>
    </div>
</div>