<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-8 col-md-6">
							<div>
								<button class="btn btn-default" ng-click="patCtrl.createPatients()" ng-hide="patCtrl.isGroup"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span translate="S_03126">Add Patient</span></button>
								<button class="btn btn-default" ng-click="patCtrl.pushNotification()" ><i class="fa fa-comment" aria-hidden="true"></i> <span translate="S_03127">Push Notification</span></button>
                                <button class="btn btn-default" ng-click="patCtrl.delGroup()" ng-show="patCtrl.isGroup && (patCtrl.groupId >= 20)"><i class="fa fa-times" aria-hidden="true"></i> <span translate="S_03184">Delete Group</span></button>
                                <button class="btn btn-default" ng-click="patCtrl.renameGroup()" ng-show="patCtrl.isGroup && (patCtrl.groupId >= 20)"><i class="fa fa-times" aria-hidden="true"></i> <span translate="S_03185">Rename Group</span></button>
								<button  class="btn btn-default" ng-click="patCtrl.addGroup()" ng-show="patCtrl.selectedPat && !patCtrl.isGroup"> <i class="fa fa-users" aria-hidden="true"></i><span translate="S_03152">  Group</span></button>
								<button  class="btn btn-default" ng-click="patCtrl.joinGroup()" ng-show="(patCtrl.selectedPat && !patCtrl.isGroup && 1==0)"> <i class="fa fa-user-plus" aria-hidden="true"></i> Join Group</button>
                                <button  class="btn btn-default" ng-click="patCtrl.leaveGroup()" ng-show="patCtrl.selectedPat && patCtrl.isGroup"> <i class="fa fa-user-times" aria-hidden="true" ></i><span translate="S_03186"> Leave Group</span></button>
								<!--<button class="btn btn-default" ng-click="patCtrl.makeCall()" ><i class="fa fa-comment" aria-hidden="true"></i> <span >Make Call</span></button>-->
								<audio id="audio_remote" autoplay="autoplay"> </audio>								
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body dashboard-body">
					<table datatable="" id="dashboard" class="table table-striped table-bordered table-hover" dt-options="patCtrl.dtOptions" dt-columns="patCtrl.dtColumns"
						dt-instance="patCtrl.dtInstance" dt-column-defs="patCtrl.dtColumnsDef"></table>

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->