<div class="table-form">
    <div class="table-content printArea">
        <table datatable="" class="table table-striped table-bordered table-hover" dt-options="patDCtrl.dtOptions" dt-columns="patDCtrl.dtColumns" dt-instance="patDCtrl.dtInstance">
        </table>
    </div>
</div>