<div class="table-form">
    <div class="table-content printArea">
        <table datatable="" class="table table-striped table-bordered table-hover" dt-options="patDCtrl.devOptions" dt-columns="patDCtrl.devColumns"
            dt-instance="patDCtrl.devInstance">
        </table>
    </div>
</div>