<div>
        <div class="forgot-password">
                <h1 translate="S_00006">Forgot Password?</h1>
                <h1 translate="S_03110">Please contact the Administrator in your company.</h1>
                <h2 translate="S_03111">You can get help from the Administrator to reset your password.</h2>
                <br>
                <a ui-sref="login" translate="S_03112">>Back to Log In</a>
        </div>
    </div>