<div class="table-form">
	<div class="table-header">
		<div class="function-subject">
			<img class="f-bar-icon" src="assets/resources/images/login_history.svg" > <span translate="S_03171">Log</span>
		</div>
		<div class="function-operation">
			<ul class="nav navbar-left">
				<li><button ng-click="logCtrl.exportData()"><i class="fa fa-plus-circle" aria-hidden="true"></i><span translate="S_00496">Export</span></button>
				</li>
			</ul>
		</div>			
	</div>
	<div class="table-content printArea">
		<table datatable="" class="table" dt-options="logCtrl.dtOptions" dt-columns="logCtrl.dtColumns"
			   dt-instance="logCtrl.dtInstance" dt-column-defs="logCtrl.dtColumnsDef"></table>
	</div>
</div>
<!-- /#wrapper -->