<div id="login-body">
    <div class="welcome-bg">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-content">
                    <div class="intro-title">
                        <img src="assets/resources/images/logo.svg">
                        <h1>aBeing Wellness</h1>
                        <h2 translate="S_03107">Pharmacy Management System</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <form role="form" ng-submit="login(credentials)" novalidate>
                            <fieldset>
                                <div class="form-group">
                                    <input ng-model="credentials.username" class="form-control textbox-default" translate translate-attr-placeholder="S_01404" name="username" type="text"
                                        autofocus>
                                </div>
                                <div class="form-group ">
                                    <input ng-model="credentials.password" class="form-control textbox-default" translate translate-attr-placeholder="S_00005" name="password" type="password"
                                        value="">
                                       
                                </div>
                                <div class="checkbox">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label >
                                            <input name="remember" type="checkbox" ng-model="credentials.remember" ng-click="rememberMe()" ><span translate="S_03108"></span>                                            
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="errorMsg" ng-if="errorMessage.length>0" ng-bind-html="errorMessage | translate"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-block btn-submit" type="submit" translate="S_03036">Login</button>

                                <div class="link-forgot">
                                    <a ui-sref="forgetpw" translate="S_00006">Forgot password?</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mastfooter">
                    <div class="inner">
                        <p>© 2016 <a href="http://www.acer.com/">Acer Inc.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>