<!-- Navigation -->
<page-header></page-header>
<!-- need a directive to load alert.html -->

<div uib-alert ng-repeat="alert in $root.alerts" ng-class="'alert alert-fix alert-' + (alert.type || 'warning')" ng-show="$root.alertShow=='true'"  
    ng-mouseout="$root.AlertMouseout()" ng-mouseover="$root.AlertMouseover()"  close="$root.closeAlert($index)">{{alert.msg}}</div>

<div ui-view class="abeing_content"></div>

