<div class="table-form">
	<div class="table-header">
		<div class="function-subject">
			<img class="f-bar-icon" src="assets/resources/images/member.svg"> <span translate="S_03114">Member</span>
		</div>
		<div class="function-operation">
			<ul class="nav navbar-left">
				<li><button ng-click="memCtrl.addMember()"><i class="fa fa-plus-circle" aria-hidden="true"></i><span translate="S_03119">New Member</span></button>
				</li>
			</ul>
		</div>		
	</div>
	<div class="table-content">
		<table datatable="" class="table" dt-options="memCtrl.dtOptions" dt-columns="memCtrl.dtColumns"
			   dt-instance="memCtrl.dtInstance" dt-column-defs="memCtrl.dtColumnsDef"></table>
	</div>
</div>
<!-- /#wrapper -->