<div class="p-info">
    <div class="patient-profile">
        <div class="profile-edit">
            <no-link class="edit-link" ng-click="patDCtrl.editPatients()"></no-link>
        </div>
        <div class="profilebox">
            <div class="profile-image">
                <img ng-src="assets/resources/images/{{(patDCtrl.infoList.gender=='male')?'ic_m.svg':'ic_fm.svg'}}">
                <span ng-bind="patDCtrl.name"></span>
                <!--<span ng-bind="patDCtrl.infoList.account"></span>-->
            </div>
            <div class="profile-data">
                <div class="row">
                    <div class="col-xs-7">
                        <p class="title" translate="S_03055">Birth Date</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.birthday"></p>
                    </div>
                    <div class="col-xs-5">
                        <p class="title" translate="S_03092">Blood Type</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.bloodType">%BloodType%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <p class="title" translate="S_03057">Height</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.height"></p>
                    </div>
                    <div class="col-xs-5">
                        <p class="title" translate="S_03056">Weight</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.weight">%BloodType%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_02716">Address</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.address"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_03121">Phone</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.phone"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_03058">Emergency Contact</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.emgName"></p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.emgPhone"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_03191">Account Status</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.active_status"></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="patient-dahsobard">
        <div class="table-content printArea">
            <table datatable="" class="table table-striped table-bordered table-hover" dt-options="patDCtrl.noteOptions" dt-columns="patDCtrl.noteColumns" dt-instance="patDCtrl.noteInstance">
            </table>
        </div>
    </div>
</div>