<div class="p-info">
    <div class="patient-profile">
        <div class="profile-edit">
            <no-link class="edit-link" ng-click="patDCtrl.editPatients()"></no-link>
        </div>
        <div class="profilebox">
            <div class="profile-image">
                <img ng-src="assets/resources/images/{{(patDCtrl.infoList.gender=='male')?'ic_m.svg':'ic_fm.svg'}}">
                <span ng-bind="patDCtrl.name"></span>
                <!--<span ng-bind="patDCtrl.infoList.account"></span>-->
            </div>
            <div class="profile-data">
                <div class="row">
                    <div class="col-xs-7">
                        <p class="title" translate="S_03055">Birth Date</p>
                        <p class="profile-value"  ng-bind="patDCtrl.infoList.birthday"></p>
                    </div>
                    <div class="col-xs-5">
                        <p class="title" translate="S_03092">Blood Type</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.bloodType">%BloodType%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <p class="title" translate="S_03057">Height</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.height"></p>
                    </div>
                    <div class="col-xs-5">
                        <p class="title" translate="S_03056">Weight</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.weight">%BloodType%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_02716">Address</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.address"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_03121">Phone</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.phone"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_03058">Emergency Contact</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.emgName"></p>
                         <p class="profile-value" ng-bind="patDCtrl.infoList.emgPhone"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title" translate="S_03191">Account Status</p>
                        <p class="profile-value" ng-bind="patDCtrl.infoList.active_status"></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="patient-dahsobard">
        <div ng-hide="patDCtrl.showChart">
            <patient-card ng-repeat="typeData in patDCtrl.typeList" type-data="typeData" ng-click="patDCtrl.showChartCard(typeData.type)"></patient-card>
            <div ng-if="patDCtrl.typeList==0"> no type value </div>
        </div>
        <div class="chart-card" ng-show="patDCtrl.showChart">
            <div class="card-header">
                <h2><a ng-click="patDCtrl.hideChartCard()"><div class="back-link"></div></a><div ng-bind="patDCtrl.title"></div></h2>
            </div>
            <div ng-if="(patDCtrl.currentType == 'bp' || patDCtrl.currentType == 'bg')" class="card-content">
                <form name="queryForm">
                    <div class="date-block">
                        <span>查詢區間：</span>
                        <div id="selectInput">
                            <input class="searchRadio" type="radio"  ng-model="patDCtrl.searchMethod" value="select">
                            <select class="form-control" ng-model="patDCtrl.placement.selected" ng-options="option.text for option in patDCtrl.placement.options" ng-disabled="patDCtrl.searchMethod !='select'"></select>
                        </div>
                        <div id="dateInput">
                            <input class="searchRadio" type="radio"  ng-model="patDCtrl.searchMethod" value="timePeriod">
                            <span><img src="assets/resources/images/ic_cal.svg"></span>
                            <md-datepicker name="queryStartDate" md-hide-icons="calendar" ng-model="patDCtrl.queryStartDate" md-placeholder="Enter date"
                                required ng-disabled="patDCtrl.searchMethod !='timePeriod'" ng-change="isStartLtEnd()" md-max-date="patDCtrl.maxDate"></md-datepicker>
                            <span>-</span>

                            <md-datepicker name="queryEndDate" md-hide-icons="calendar" ng-model="patDCtrl.queryEndDate" ng-change="isStartLtEnd()" md-placeholder="Enter date"
                                required ng-disabled="patDCtrl.searchMethod !='timePeriod'"></md-datepicker>
                        </div>
                        <button class="btn-submit" type="button" ng-click="patDCtrl.searchDetailData()" ng-disabled="queryForm.$invalid || !startLtEnd">查詢</button>
                    </div>
                </form>
                <div class="loading" ng-hide="patDCtrl.chartConfig.dataLoaded"><img src="assets/resources/images/spinner.gif"></div>

                <h3 style="position: relative;top: 35px;">{{patDCtrl.start}} ~ {{patDCtrl.end}}</h3>
                <uib-tabset active="patDCtrl.overviewActive" class="tabs-detail-items">
                    <uib-tab select="patDCtrl.rerender($index)" ng-repeat="tab in patDCtrl.overviewTabList" index="$index" heading="{{tab.title}}" ng-if="!(isAuthorized(userRoles.patient))" classes="tabs-detail-item" ng-click="patDCtrl.searchDetailData()">
                        <div ng-include="tab.templateUrl"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div ng-if="(patDCtrl.currentType !== 'bp' && patDCtrl.currentType !== 'bg')" class="card-content">
                <form name="queryForm">
                    <div class="date-block">
                        <span><img src="assets/resources/images/ic_cal.svg"></span>
                        <md-datepicker name="queryStartDate" md-hide-icons="calendar" ng-model="patDCtrl.queryStartDate" md-placeholder="Enter date"
                                       required></md-datepicker>

                        <span>-</span>

                        <md-datepicker name="queryEndDate" md-hide-icons="calendar" ng-model="patDCtrl.queryEndDate" md-placeholder="Enter date"
                                       required></md-datepicker>
                    </div>
                    <button class="btn-submit" type="button" ng-click="patDCtrl.drawChart()" ng-disabled="queryForm.$invalid">GO</button>
                </form>
                <div class="loading" ng-hide="patDCtrl.chartConfig.dataLoaded"><img src="assets/resources/images/spinner.gif"></div>
                <ng-echarts id="chart" class="flot-chart-content echarts" ec-config="patDCtrl.chartConfig" ec-option="patDCtrl.chartOption.lineChart"></ng-echarts>
            </div>
        </div>
    </div>
</div>