<div class="table-form">
    <div class="table-header">
        <div class="function-subject">
            <img class="f-bar-icon" src="assets/resources/images/service.svg"> <span translate="S_03116">Service</span>
        </div>
        <div class="function-operation">
            <ul class="nav navbar-left">
                <li><button ng-click="pkgCtrl.addService()"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span translate="S_03123">New Service</span></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-content">
       <table datatable="" class="table" dt-options="pkgCtrl.dtOptions" dt-columns="pkgCtrl.dtColumns"
            dt-instance="pkgCtrl.dtInstance" dt-column-defs="pkgCtrl.dtColumnsDef"></table>
    </div>
    
    <!-- /.row -->
</div>