<div class="table-form">
    <div class="table-header">
        <div class="function-operation">
            <ul class="nav navbar-left">
                <li ng-if="!(isAuthorized(userRoles.patient))">
                    <button ng-click="patDCtrl.toggleFlag()"><i class="fa fa-flag" aria-hidden="true"></i><span  translate="S_03154"> Flag</span></button>
                </li>
                <li ng-if="!(isAuthorized(userRoles.patient))">
                    <button ng-click="patDCtrl.group()"><i class="fa fa-users" aria-hidden="true"></i><span translate="S_03152"> Group</span></button>
                </li>
                <li ng-if="!(isAuthorized(userRoles.patient))">
                    <button ng-click="patDCtrl.pushMessage()"><i class="fa fa-comments" aria-hidden="true"></i><span translate="S_02648"> Message</span></button>
                </li>
                <li ng-if="!(isAuthorized(userRoles.patient))">
                    <button ng-click="patDCtrl.createPurchase()"><i class="fa fa-shopping-cart" aria-hidden="true" ></i><span translate="S_03155">Create Purchase</span></button>
                </li>
                <li ng-if="!(isAuthorized(userRoles.patient))">
                    <button ng-click="patDCtrl.addNote()"><i class="fa fa-shopping-cart" aria-hidden="true" ></i><span translate="">Add Note</span></button>
                </li>
                <!--<li>
					<button ng-click="patDCtrl.delData()"><i class="fa fa-trash" aria-hidden="true"></i><span translate="S_03156"> Delete Data</span></button>
				</li>-->
                <li>
                    <button ng-show="patDCtrl.loaded" ng-click="patDCtrl.export()"><i class="fa fa-download" aria-hidden="true" ></i><span translate="S_00496"> Export</span></button>
                </li>

                <li>
                    <button ng-click="patDCtrl.showEditor()"><i class="fa fa-edit" aria-hidden="true" ></i><span > Edit Threshold and Lifesttyle</span></button>
                </li>
            </ul>
        </div>
        <!-- /table-header -->
    </div>

    <uib-tabset active="patDCtrl.active" class="patient-tabs">
        <uib-tab select="patDCtrl.rerender($index)" ng-repeat="tab in patDCtrl.tabList" index="$index" heading="{{tab.title}}" ng-if="!(isAuthorized(userRoles.patient))" classes="patient-tab">
            <div ng-include="tab.templateUrl"></div>
        </uib-tab>
    </uib-tabset>