<div class="table-form">
    <div class="table-content printArea">
        <table datatable="" class="table table-striped table-bordered table-hover" dt-options="patDCtrl.preOptions" dt-columns="patDCtrl.preColumns"
            dt-instance="patDCtrl.preInstance">
        </table>
    </div>
</div>