<div class="profile-info">
    <form name="profileForm" class="form_group">
        <p class="padding-l" translate="S_03005">Profile</p>

        <ul>
            <p translate="S_00015">Last Name</p>
            <li> <input type="text" name="lastName" class="form-control textbox-length textbox-default" ng-model="profile.lastName"
                   translate translate-attr-placeholder="S_03200" id="lastName" required="" autofocus=""></li>
            <p class="errorMsg" ng-show="profileForm.lastName.$error.required && !profileForm.lastName.$pristine" translate="S_03255"></p>
            <p translate="S_00014">First Name</p>
            <li><input type="text" name="firstName" class="form-control textbox-length textbox-default" ng-model="profile.firstName"
                    translate translate-attr-placeholder="S_03201" required="" id="firstName"></li>
            <p class="errorMsg" ng-show="profileForm.firstName.$error.required && !profileForm.firstName.$pristine" translate="S_03255"></p>
        </ul>
        <ul>
            <p translate="S_03115">Branch</p>
            <li><label ng-bind="profile.branch_name">%Branch%</label>
            </li>
            <p translate="S_03258">Title</p>
            <li><label ng-bind="profile.title">%Title%</label>
            </li>
        </ul>
        <ul>
            <p translate="S_01404">Account</p>
            <li><label ng-bind="profile.username">%UserAccount%</label>
            </li>
        </ul>
        <ul>
            <p translate="S_00005">Password</p>
            <li><a class="changePassword" ng-click="togglePassword()" translate="S_02201">Change Password</a></li>
        </ul>
        <ul ng-show="showPassword">
            <p translate="S_03148">Old Password</p>
            <li><input type="password" id="oldPassword" class="form-control textbox-length textbox-default" name="oldPassword"
                    ng-model="profile.oldpassword" translate translate-attr-placeholder="S_03148"></li>
            <p translate="S_00005">Password</p>
            <li>
                <input type="password" id="password" class="form-control textbox-length textbox-default" name="password" ng-model="profile.password"
                    ng-minlength="8" translate translate-attr-placeholder="S_00005" ng-change="profile.confirmPassword=''">
                <span class="errorMsg" ng-show="profileForm.password.$error.minlength" translate="S_03251">password should be minimum 8 character.</span>
            </li>
            <p translate="S_00013">Confirm Password
            </p>
            <li><input type="password" id="confirmPassword" name="confirmPassword" class="form-control textbox-length textbox-default"
                    ng-model="profile.confirmPassword" translate translate-attr-placeholder="S_00013" pw-check="password">
                <p class="errorMsg" ng-show="profileForm.confirmPassword.$error.pwmatch" translate="S_03253">Passwords don't match.</p>
            </li>
        </ul>
        <ul>
            <li ng-show="checkResult=='false'"><label class="errorMsg" ng-bind="errorMsg"></label></li>
        </ul>

        <ul class="ul-inline-block">
            <li><button class="btn-submit" type="button" ng-click="submit()" ng-disabled="profileForm.$invalid" translate="S_00495">Save</button></li>

            <li><button class="btn-submit" type="button" ng-click="cancel()" translate="S_00111">Cancel</button></li>
        </ul>

    </form>
</div>