<div class="table-form">
    <div class="table-content printArea">
        <table datatable="" class="table table-striped table-bordered table-hover" dt-options="patDCtrl.purOptions" dt-columns="patDCtrl.purColumns"
            dt-instance="patDCtrl.purInstance">
        </table>
    </div>
</div>