<div class="threshold-form">
    <form name="thresholdForm">
        <div class="row">
            <div class="col-xs-1" translate="S_03049">Systolic</div>
            <div class="col-xs-2">
                <input type="number" ng-model="patDCtrl.threshold.sys_rule" required/>

            </div>
            <div class="col-xs-1" ng-bind="patDCtrl.infoList.bp_unit"></div>
        </div>
        <div class="row">
            <div class="col-xs-1" translate="S_03050">Diastolic</div>
            <div class="col-xs-2">
                <input type="number" ng-model="patDCtrl.threshold.dia_rule" required/>
            </div>
            <div class="col-xs-1" ng-bind="patDCtrl.infoList.bp_unit"></div>
        </div>
        <div class="row">
            <div class="col-xs-1" translate="S_03278">Blood Glucose</div>
            <div class="col-xs-2">
                <input type="number" ng-model="patDCtrl.threshold.bg_rule" required/>
            </div>
            <div class="col-xs-1" ng-bind="patDCtrl.infoList.bg_unit"></div>
        </div>
        <div class="row">
            <div class="col-xs-1" translate="S_03129">Pulse</div>
            <div class="col-xs-2">
                <input type="number" ng-model="patDCtrl.threshold.hr_rule" required/>
            </div>
            <div class="col-xs-1" ng-bind="patDCtrl.infoList.hr_unit"></div>
        </div>
        <div class="row">
            <div class="col-xs-1" translate="S_03132">Resting Heart Rate</div>
            <div class="col-xs-2">
                <input type="number" ng-model="patDCtrl.threshold.rhr_rule" required/>
            </div>
            <div class="col-xs-1" ng-bind="patDCtrl.infoList.rhr_unit"></div>
        </div>
        <div class="row">
            <div class="col-xs-1" translate="S_03137">CO2</div>
            <div class="col-xs-2">
                <input type="number" ng-model="patDCtrl.threshold.co2_rule" required/>
            </div>
            <div class="col-xs-1" ng-bind="patDCtrl.infoList.co2_unit"></div>
        </div>
        <div class="btn-row">
            <span>
                <button class="btn-submit ng-scope" type="button" ng-click="patDCtrl.setThreshold()"  ng-disabled="thresholdForm.$invalid" translate="S_00495">Save</button>
            </span>
            <span>
				<button class="btn-submit ng-scope" type="button" ng-click="patDCtrl.cancelThreshold()"  translate="S_00111">Cancel</button>
			</span>
        </div>
    </form>
</div>