@import "variables";

.function-thub {
  text-align: center;

  img {
    width: 124px;
  }
}

.tramsformer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	.row{
		padding-top:48px;
	}
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
}


