@import "variables";

/* Fonts */

html {
    font-family: "STHeiti Light", "Microsoft JhengHei", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "STHeiti Light", "Microsoft JhengHei", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:focus {
    cursor: pointer;
    color: $theme-color-green;
}

body {
    background-color: $theme-bg;
    width: 100%;
    height: 100%;
}

button {
    margin-right: 16px;
}

i {
    color: $theme-color-green;
}

select {
    border-color: #ddd;
    border-radius: 0px;
}

.clear-float {
    content: '';
    display: block;
    clear: both;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: $theme-color-green;
    border-color: $theme-color-green;
}

.pagination>li>a,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span {
    color: $theme-color-green;
}

:focus,
:active:focus,
.active:focus,
.focus,
:active.focus,
.active.focus {
    outline: none;
}

.row {
    margin-right: 15px;
}

.btn,
.md-button {
    border-radius: 50px;
    outline: none;
    md-icon.fa-times {
        margin-top: 5px;
    }
    &:focus,
    &:active:focus,
    .active:focus,
    .focus,
    &:active.focus,
    .active.focus {
        outline: none;
    }
}

//Alerts
@keyframes alertdisplay {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* For IE8 and earlier */
    }
    10% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */
    }
    95% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* For IE8 and earlier */
    }
}

.alert-fix {
    position: absolute;
    z-index: 1000;
    width: 100%;
    border-radius: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    /* For IE8 and earlier */
    animation: alertdisplay 6s linear normal;
    -webkit-animation: alertdisplay 6s linear normal;
    -moz-animation: alertdisplay 6s linear normal;
    &:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
    span {
        color: white;
    }
}

.alert-success {
    color: #ffffff;
    background-color: #3f9c46;
    border-color: #3f9c46;
}

.alert-info {
    color: #ffffff;
    background-color: #007bc4;
    border-color: #007bc4;
}

.alert-warning {
    color: #ffffff;
    background-color: #ffa700;
    border-color: #ffa700;
}

.alert-danger {
    color: #ffffff;
    background-color: #e15757;
    border-color: #e15757;
}

//Buttons
.btn-submit,
.btn-submit:hover {
    color: white;
    background-color: $theme-color-green;
    border-radius: 30px;
    height: 44px;
    line-height: 0;
    &:focus {
        box-shadow: none;
    }
}

.danger {
    color: red;
}

//Drapdown
.dropdown-menu {
    border-radius: 0;
    border-color: #eee;
}


/* Preload: http://github.hubspot.com/pace/docs/welcome/*/

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: $theme-color-green;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

//Textbox
.textbox-default {
    border: $textbox-border-thickness $textbox-border-color $textbox-border-style;
    border-radius: $textbox-border-radius;
    height: 44px;
    &:focus {
        border: $textbox-border-thickness $textbox-border-color-focus $textbox-border-style;
        box-shadow: none;
    }
}

#wrapper {
    width: 100%;
}

.navbar-brand {
    padding: 0;
    img {
        float: left;
        width: 64px;
        height: 64px;
    }
    span {
        font-size: 0.8em;
        color: $theme-color-gray;
    }
    p {
        width: 450px;
        padding-top: 16px;
        padding-left: 80px;
        color: $theme-color-green;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px;
    min-height: 64px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    min-width: 450px;
    max-height: 500px;
    overflow-y: auto;
    .alert-item {
        .alert-message {
            width: 270px;
            float: left;
        }
        .alert-time {
            float: right;
            width: 80px;
        }
    }
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
    padding: 16px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-fix {
    margin-bottom: 0px;
    background-color: #fafafa;
    height: 64px;
    min-width: 64px;
    .navbar-brand {
        color: $theme-color-gray;
        font-size: 16px;
        line-height: 18px;
    }
    .navbar-right {
        li {
            a {
                font-size: 1em;
            }
        }
    }
}

.navbar-default {
    z-index: 1;
}

//notication
.notify-badge {
    background-color: #e15757;
    border-radius: 50px;
    padding: 4px 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 0.8em;
}

//Slide Bar
.nav-second-level {
    a {
        color: #444;
    }
}

//Table
.table-form {
    a {
        color: #aaa;
    }
    button {
        border-radius: 50px;
        border: 1px solid rgb(212, 212, 212);
        background-color: #ffffff;
        padding: 5px 18px;
    }
    .table-header,
    .table-footer {
        background-color: #eee;
        min-height: 48px;
        .function-subject {
            float: left;
            padding: 10px 16px;
            .f-bar-icon {
                width: 28px;
            }
        }
        .function-operation {
            display: block;
            padding-top: 8px;
            padding-left: 16px;
            padding-right: 16px;
        }
        .dataTables_length {
            display: inline-block;
            float: left;
            padding-right: 16px;
        }
        .pagination {
            margin: -2px 0 0 0;
        }
        ul {
            li {
                display: inline;
            }
        }
        .navbar-right {
            margin-right: 0;
        }
    }
    .table-content {
        padding-bottom: 40px;
        background-color: white;
        .table {
            margin-bottom: 0;
            td {
                min-width: 70px;
                vertical-align: middle;
            }
            .col-edit {
                min-width: 5px;
            }
            td.service {
                padding: 0;
                min-width: 70px;
                vertical-align: middle;
                .nest-table {
                    tr {
                        border-bottom: 1px solid #DDD;
                        .category {
                            width: 80px;
                            max-width: 80px;
                            min-width: 60px;
                            border-right: 1px solid #DDD;
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .p-info {
        background-color: $p-info-background;
        position: relative;
        text-align: left;
        padding-left: 27px;
        padding-top: 18px;
        .patient-profile {
            position: relative;
            min-width: 260px;
            width: 25%;
            float: left;
            padding-top: 12px;
            .profilebox {
                vertical-align: top;
                text-align: left;
                .profile-data {
                    .row {
                        margin: 10px 10px 14px 0px;
                        div {
                            padding: 0;
                        }
                        p {
                            padding: 0;
                        }
                    }
                    .title {
                        color: $theme-color-green;
                        font-size: 16px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        color: $word-color;
                    }
                    .profile-value {
                        font-size: 22px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        color: $word-color;
                    }
                    div {
                        line-height: 30px;
                    }
                }
                .profile-image {
                    text-align: left;
                    margin-bottom: 16px;
                    span {
                        font-size: 22px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        color: $word-color;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                        margin: 0px 10px 0px 0px;
                    }
                }
            }
            .profile-edit {
                position: absolute;
                float: right;
                top: -10px;
                right: 14px;
                .edit-link {
                    display: block;
                    width: 44px;
                    height: 22px;
                    background: url('../assets/resources/images/btn_editProfile_n.svg') bottom;
                    text-indent: -99999px;
                    &:hover {
                        background: url('../assets/resources/images/btn_editProfile_h.svg') bottom;
                    }
                }
                &:after {
                    @extend .clear-float;
                }
            }
            &:after {
                @extend .clear-float;
            }
        }
        .patient-dahsobard {
            padding: 14px 8px 20px 2px;
            min-width: 720px;
            float: left;
            @media screen and (max-width: 1024px) {
                width: 71%;
            }
            @media screen and (min-width: 1025px) {
                width: 75%;
            }
            .type-card {
                position: relative;
                width: 340px;
                height: 160px;
                background-color: white;
                transition: box-shadow .3s;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                border: solid 1px rgba(0, 0, 0, 0.1);
                float: left;
                margin: 10px 4px 0px 10px;
                padding-top: 21.3px;
                padding-bottom: 21.3px;
                padding-left: 24px;
                background-image: linear-gradient(to bottom, #ffffff, #fafafa);
                &:hover {
                    box-shadow: 5px 7px 5px dimgray;
                }
                &:active {
                    box-shadow: 0px 0px 10px dimgray;
                }
                .card-icon {
                    position: absolute;
                    top: 53.3px;
                    right: 0px;
                    z-index: 0;
                    overflow: hidden;
                    img {
                        width: 100px;
                        height: 106.7px;
                        transform: scale(1.2, 1.2) translate(6px, 5px);
                    }
                }
                .card-content {
                    position: absolute;
                    text-align: left;
                    .type-title {
                        width: 264px;
                        height: 25.6px;
                        font-size: 24px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        color: $word-color;
                    }
                    .type-value {
                        color: #89b527;
                        width: 178.1px;
                        height: 46.9px;
                        font-size: 44px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        display: inline-block;
                        margin: 12.8px 0px 14.9px 0px;
                        &.danger {
                            color: red;
                        }
                    }
                    .data-unit {
                        margin-left: 27.9px;
                        font-size: 20px;
                        color: #aaa;
                        display: inline-block;
                    }
                    .type-bottom {
                        width: 213px;
                        height: 17.1px;
                        font-size: 22px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 0.73;
                        letter-spacing: normal;
                        color: #979797;
                    }
                }
            }
            .raw-data{
                padding: 10px;
                .raw-data-table{
                    font-weight: bold;
                    thead {
                        background: gainsboro;
                        th {
                            border: 1px solid #FFFFFF;
                        }
                        div {
                            text-align: center;
                        }
                    }
                    tbody{
                        td {
                            border: 1px solid #FFFFFF;
                        }
                    }
                }
                .avgTr{
                    background-color: #cadfe5;

                }
            }
            .chart-card {
                background-color: white;
                box-shadow: 0px 0px 5px #000;
                float: left;
                width: 90%;
                min-width: 700px;
                padding: 24px;
                .card-header {
                    text-align: left;
                    div {
                        float: left;
                        margin-right: 20px;
                        font-size: 28px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: $word-color;
                    }
                    h2 {
                        padding: 0;
                        margin: 0;
                        .back-link {
                            display: block;
                            width: 32px;
                            height: 32px;
                            background: url('../assets/resources/images/btn_back_n.svg') bottom;
                            text-indent: -99999px;
                            &:hover {
                                background: url('../assets/resources/images/btn_back_h.svg') bottom;
                            }
                        }
                    }
                    &:after {
                        @extend .clear-float;
                    }
                }
                .card-content {
                    padding-top: 20px;
                    position: relative;
                    form {
                        text-align: left;
                        margin-bottom: 55px;
                        .date-block {
                            display: inline;
                            text-align: left;
                            margin-right: 13px;
                            .md-datepicker-input-container {
                                border: 1px solid #979797;
                                width: 105px;
                            }
                            .md-icon-button {
                                background-color: transparent;
                                margin: 0;
                                right: 8px;
                                top: 7px;
                            }
                            .searchRadio{
                              width: auto;
                              display: inline-block;
                            }
                            #selectInput{
                                width: 170px;
                                display: inline-block;
                            }
                            #dateInput{
                                width: 300px;
                                margin-left: 10px;
                                display: inline-block;
                            }
                            select{
                                width: 145px;
                                display: inline-block;
                            }
                            span {
                                margin: 0 2px;
                                font-size: 20px;
                            }
                            input {
                                font-size: 16px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #4b4b4b;
                                padding: 7px 6px;
                                width: 100%;
                            }
                        }
                        button {
                            border-radius: 0px;
                            border: 0;
                            &.btn-submit {
                                color: white;
                                background-color: $main-color;
                                height: 35px;
                                vertical-align: bottom;
                                &:hover {
                                    background-color: #333;
                                }
                                &:disabled {
                                    color: rgba(0, 0, 0, 0.26) !important;
                                    cursor: default;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    .loading {
                        width: 100%;
                        height: 550px;
                        background-color: white;
                        text-align: center;
                        line-height: 550px;
                        float: left;
                        position: absolute;
                        z-index: 100;
                    }
                    .targetValueBar{
                        margin: 15px 0 30px 0;
                        font-weight: bold;
                        .height,.criterion,.low{
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            margin-right: 5px;
                        }
                        .height{
                          background-color: #d84e4e;
                        }
                        .criterion{
                            background-color: #82b841;
                        }
                        .low{
                            background-color: #efd400;
                        }
                        span{
                            margin-right: 25px;
                        }
                    }
                    .flot-chart-content{
                          margin-top: 70px;
                    }
                    .periodTimeBar{
                        .barTitle{
                            font-weight: bolder;
                            font-size: 18px;
                        }
                        .periodTimeBox{
                            display: inline-block;
                            width: 30%;
                            margin-right: 15px;
                            font-weight: bolder;
                            vertical-align: top;
                            h4{
                                font-weight: bolder;
                            }
                            .periodTimeChartBox{
                                border: 1px solid #e4e4e4;
                                height: 220px;
                                .tableTitle{
                                    background-color: #b1b1b1;
                                    color: white;
                                    height: 25px;
                                    line-height: 25px;
                                    padding-left: 7px;
                                }
                                .tableChart{
                                    .noDataChart{
                                        display: flex;
                                        align-items: center;
                                        width:100%;
                                        height: 190px;
                                        padding: 0 20px;
                                        .noDataPieChart{
                                            width: 90px;
                                            height: 90px;
                                            border-radius: 90px;
                                            margin-right: 40px;
                                            background-color: #afadad;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:after {
                    @extend .clear-float;
                }
            }
            &:after {
                @extend .clear-float;
            }
        }
        &:after {
            @extend .clear-float;
        }
    }
    .threshold-form {
        padding: 10px 10px;
        .row {
            padding-top: 20px;
            .profile-value {
                display: inline-block;
                margin-left: 130px;
            }
        }
        .btn-row {
            text-align: left;
            padding: 20px;
            button {
                width: 160px;
                border: 0;
                &.btn-submit {
                    color: white;
                    background-color: $main-color;
                    border-radius: 30px;
                    height: 44px;
                    line-height: 2;
                }
                &:hover {
                    background-color: #333;
                }
                &:disabled {
                    color: rgba(0, 0, 0, 0.26) !important;
                    cursor: default;
                    background-color: transparent;
                }
            }
        }
    }
    .profile-value {
        text-align: left;
        .profile-value-top {
            .left,
            .right {
                width: auto;
                text-align: left;
                display: inline-block;
            }
        }
        .profile-value-top,
        .profile-value-bottom {
            .value_group {
                width: 100%;
                text-align: left;
                ul {
                    li {
                        padding: 8px;
                        font-weight: bold;
                        p,
                        span {
                            display: inline-block;
                            margin: auto 5px;
                            font-size: 16px;
                        }
                        p {
                            width: 160px;
                        }
                        span {
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}

.m-value,
.profile-value {
    ul {
        display: inline-block;
        li {
            list-style: none;
            img {
                width: 56px;
            }
        }
    }
}

//Below scss is written by Karen
.dataTables_wrapper {
    .dataTables_length {
        float: left;
        vertical-align: middle;
        label {
            select {
                border: 1px solid #e4e4e4;
            }
        }
    }
    .dataTables_filter {
        margin-right: 0;
        float: right;
        vertical-align: middle;
    }
    .dataTables_paginate {
        float: right;
        vertical-align: middle;
    }
    .dataTables_info {
        float: left;
        vertical-align: middle;
    }
    table.dataTable {
        thead {
            float: none;
            clear: both;
            tr {
                th {
                    padding: 10px 18px;
                    vertical-align: middle;
                }
            }
        }
        tbody {
            tr {
                td.ng-scope {
                    padding: 10px 18px;
                }
            }
        }
    }
}

div.dataTables_wrapper {
    div.dataTables_paginate {
        margin: 10px auto auto;
    }
}

.abeing_content {
    #page-wrapper {
        .dataTables_length {
            margin-left: 18px;
        }
        .dataTables_info {
            margin-left: 18px;
        }
    }
}

.dataTables_paginate {
    a.paginate_button {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    a.paginate_button:last-child {
        border-right: 1px solid #ddd;
    }
    span {
        //		display: inline-block;
    }
    a.paginate_button.current {
        padding: .35em .8em;
    }
    a.paginate_button.current:hover {
        padding: .35em .8em;
    }
}

//admin part
.abeing_content {
    .table-form {
        .table-header {
            i {
                margin-right: 5px;
            }
            .function-subject {
                img.f-bar-icon {
                    vertical-align: middle;
                }
            }
        }
        .table-content {
            .dataTables_wrapper {
                table.dataTable {
                    thead {
                        tr {
                            th {
                                font-weight: bold;
                            }
                        }
                    }
                }
                .dataTables_paginate {
                    margin: 15px 10px 15px auto;
                }
                .dataTables_length {
                    width: 300px;
                }
            }
        }
    }
}

//diaglog box
md-dialog {
    md-toolbar {
        background-color: #f4f5f6 !important;
        height: 64px;
        padding-left: 16px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-width: 341px;
        .md-toolbar-tools {
            max-height: auto;
            h2 {
                font-weight: bold;
                font-size: 16px;
                color: $main-color;
            }
        }
    }
    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: -1;
        background: url('../assets/resources/images/spinner.gif') no-repeat center center transparent;
        background-color: #ffffff;
    }
    .loading.active {
        z-index: 1;
    }
    i.disabled {
        color: #d2d2d2;
    }
    button.noBtn {
        border: 0px;
        background: none;
        margin: 0px;
    }
    button.noBtn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
}

md-dialog-content.commonDialog {
    background-color: #fff;
    padding-top: 32px;
    padding-left: 16px;
    form {
        .row {
            margin-left: 0;
            .col-xs-6,
            .col-md-12,
            .col-xs-12,
            .col-xs-4 {
                .form_group {
                    margin-bottom: 32px;
                    span.required_fill {
                        color: #f00;
                    }
                    label {
                        margin-bottom: 8px;
                        font-weight: bold;
                        color: #333;
                    }
                    label.transparent {
                        color: transparent;
                        color: #fff;
                    }
                    div.form_input {
                        input {
                            border: 1px solid #dcdcdc;
                            border-radius: 0;
                            height: 44px;
                            padding-left: 5px;
                        }
                        input:focus,
                        textarea:focus {
                            border: 1px solid $main-color;
                            box-shadow: none;
                        }
                        select {
                            width: 200px;
                            height: 44px;
                        }
                        textarea {
                            resize: none;
                            border: 1px solid #dcdcdc;
                            border-radius: 0;
                            padding-left: 5px;
                        }
                        .account_span {
                            line-height: 43px;
                        }
                        div {
                            span {
                                color: #e15757;
                                display: block;
                                line-height: 20px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
            .addbranch {
                .form_group {
                    margin-bottom: 10px;
                    label {
                        line-height: 30px;
                    }
                    div {
                        select {
                            width: 200px;
                        }
                    }
                }
                .form_group.address {
                    .form_input {
                        input {
                            width: 450px;
                        }
                    }
                }
                .form_group.phone {
                    float: left;
                }
                .form_group.contact {
                    float: right;
                }
                .float {
                    float: none;
                    clear: both;
                }
            }
            .col-xs-12 {
                .form_group.patientAddress {
                    .form_input {
                        input {
                            width: 640px;
                        }
                    }
                }
                .form_group {
                    .form_input {
                        md-datepicker {
                            border: none;
                            .md-datepicker-input-container {
                                border: none;
                                padding: 3px;
                                .md-datepicker-triangle-button {
                                    top: 10px;
                                    right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

$label-width:90px;
md-dialog-content.noteDialog {
    .row {
        margin: 0;
        padding: 15px 0px;
        border-bottom: 1px solid gray;
        .col-xs-12 {
            padding: 0px 20px;
            &>div {
                display: inline-block;
            }
            .label {
                vertical-align: top;
                text-align: left;
                color: black;
                width: $label-width;
            }
            .content {
                // padding: 0 10px;
                box-sizing: border-box;
                min-width: 800px;
                width: calc(100% - #{$label-width} - 10px);
            }
            .category-bar {
                .category-item {
                    float: left;
                    border: 1px solid black;
                    border-radius: 50px;
                    padding: 0 10px;
                    margin: 0 5px 5px;
                }
            }
        }
        .category-content {
            .left {
                overflow-y: auto;
                height: 400px;
                float: left;
                width: 20%;
                .category {
                    margin-bottom: 50px;
                }
                &:after {
                    @extend .clear-float;
                }
            }
            .right {
                overflow-y: auto;
                height: 400px;
                float: right;
                width: 80%;
                background-color: white;
                .template-flied {
                    padding: 5px;
                    margin: 0;
                    border-bottom: 1px solid gray;
                    margin-bottom: 10px;
                    .template-title {
                        position: relative;
                        font-weight: bold;
                        .remove {
                            position: absolute;
                            top: 0;
                            right: 5px;
                        }
                    }
                    .template-body {
                        padding: 10px;
                        vertical-align: middle;
                        .text-flied {
                            -moz-appearance: textfield;
                            -webkit-appearance: textfield;
                            background-color: white;
                            background-color: -moz-field;
                            font: -moz-field;
                            font: -webkit-small-control;
                            margin-top: 5px;
                            padding: 2px 3px;
                            width: 100%;
                            max-width: 720px;
                            background-color: #eee;
                        }
                    }
                    &:after {
                        @extend .clear-float;
                    }
                }
                &:after {
                    @extend .clear-float;
                }
            }
        }
    }
}

md-dialog-actions {
    padding-top: 16px;
    button.md-button {
        color: #fff;
        background-color: #444;
        border-radius: 30px;
        height: 44px;
        line-height: 2;
        text-align: center;
        width: 150px;
        margin: 26px auto 36px;
    }
    button.md-button:not([disabled]):hover {
        background-color: #222;
        border-color: #222;
    }
    .col-xs-12.alert_ok {
        text-align: center;
    }
    .col-xs-5 {
        text-align: center;
    }
    .hidden {
        display: none;
    }
}

md-dialog-actions.col-xs-12.prescription {
    .col-xs-12 {
        text-align: center;
    }
}

md-dialog-content.confirmDialog {
    line-height: 40px;
}

md-dialog.md-content-overflow {
    md-dialog-actions {
        border: none;
    }
}

//profile part
#profileContent {
    padding-left: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    .col-xs-10 {
        font-size: 28px;
        margin-top: 20px;
    }
    .col-xs-8 {
        margin-top: 20px;
        .row {
            .col-xs-6,
            .col-xs-4,
            .col-xs-8,
            .col-xs-12 {
                .form_group {
                    margin-bottom: 30px;
                    label {
                        line-height: 30px;
                    }
                    input {
                        border: 1px solid #dcdcdc;
                        border-radius: 0;
                        height: 44px;
                    }
                    input:focus {
                        border: 1px solid $main-color;
                        box-shadow: none;
                    }
                    input.changePassword {
                        height: auto;
                    }
                    .errorMsg {
                        color: #e15757;
                        margin-top: 20px;
                    }
                }
            }
            .col-xs-6.button {
                margin-top: 5px;
                a {
                    display: inline-block;
                    color: #fff;
                    background-color: #444;
                    border-radius: 30px;
                    height: 44px;
                    line-height: 40px;
                    text-align: center;
                    width: 150px;
                    text-decoration: none;
                    margin-top: 10px;
                    margin-right: 10px;
                }
                a:hover {
                    background-color: #222;
                    border-color: #222;
                }
            }
        }
    }
}

.btn-green-custom {
    border: 1px solid #92c052 !important;
    color: #92c052 !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}

md-datepicker[disabled="disabled"] > div {
    background-color: #eee !important;
}

.commonDialog.thresholdAndLifecycle{
    width:800px;
    height: 850px;
    border-bottom: 1px solid black;
    .red_border{
        border: 1px solid red !important;
    }

    .contentBox {
        display: flex;
        justify-content: center;
        padding-top: 25px;
        .unit{
            margin-left: 7px;
        }
        .boxTitle{
            font-size: 24px;
            text-align: left;
            margin-bottom: 25px;
        }
        .ruleInput{
            margin-bottom: 10px;
        }
        .habitInput{
            margin-bottom: 10px;
        }
        .ruleBox {
            display: inline-block;
            margin-right: 55px;
            .title {
              margin-top: 2px;
              float: left;
              font-size: 16px;
              width: 70px;
              text-align: right;
              padding-right: 15px;
            }
            input {
              width: 60px;
              text-align: center;
            }
        }
        .habitBox {
            display: inline-block;
            margin-right: 55px;
            .title {
                float: left;
                font-size: 16px;
                width: 70px;
                text-align: right;
                padding-right: 15px;
            }
            input {
                width: 60px;
                text-align: center;
            }
        }
    }
    .ruleInput_GP{
        .title{
            display: inline-block;
        }
        .inputBox{
            display: inline-block;
            font-size: 14px;
            div{
                margin-bottom: 10px;
            }
        }
    }
    .nav{
        padding: 0 125px;
        border-bottom: 2px solid #82b841;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        li{
            a {
              color: #717171;
            }
        }
        li.active{
            a{
                background-color: #82b841;
                color: white;
            }
        }
    }
}





.errorMsg {
    color: #e15757;
    margin-top: 20px;
}

// for print
@media print {
    body * {
        visibility: hidden;
    }
    #printSection,
    #printSection *,
    .printArea,
    .printArea * {
        visibility: visible;
    }
    #printSection,
    .printArea {
        position: absolute;
        left: 0;
        top: 0;
    }
    .cPrintOnly {
        page-break-after: always;
        page-break-inside: avoid;
    }
}

#printSection {
    visibility: hidden;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

.patient-tabs {
    ul {
        padding: 0 50px;
        border-bottom: 2px solid $main-color; // background-color: white;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #717171;
        li {
            a {
                padding: 15px 16px;
                &:hover {
                    border-bottom: 0;
                }
            }
            &.active {
                a {
                    background-color: $main-color;
                    color: white;
                    &:hover,
                    &:focus {
                        background-color: $main-color;
                        color: white;
                    }
                }
            }
        }
    }
    .tabs-detail-items {
        ul {
            display: flex;
            justify-content: flex-end;
            padding: 0;
            font-size: 16px;
            font-weight: bold;
            li {
                a {
                    padding: 6px 16px;
                    border-radius: 0;
                }
            }
        }
    }
}
