.profile-info {
  background-color: white;
  padding-top: 36px;
  padding-bottom: 36px;

  .padding-l {
    padding-left: 40px;
    font-size: 1.2em;
  }

  button {
    width: 160px;
    border: 0;

    &:hover {
      background-color: #333;
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.26) !important;
      cursor: default;
      background-color: transparent;
    }
  }

  .textbox-length {
    width: 400px;
    display: block;
    margin-bottom: 10px;
  }

  .ul-inline-block {
    display: inline-block;
    padding-top: 16px;

    li {
      float: left;
    }
  }

  ul {
    p {
      padding-top: 4px;
      font-weight: bold;
    }

    li {
      list-style: none;

      label {
        font-weight: normal;
      }
    }
  }
}