
//Theme

$theme-color-green: #82B841;
$theme-color-red: #E15757;
$theme-color-acergreen: #3F9C46;
$theme-color-gray:#444;
$theme-bg: #F4F5F6;



//buttons
$button-submit: $theme-color-green;

//textbox
$textbox-border-color:#DCDCDC;
$textbox-border-thickness: 1px;
$textbox-border-style: solid;

$textbox-border-color-focus: $theme-color-green;

$textbox-border-radius: 0px;

//screen
$break-small: 768px;
$break-large: 1024px;


$p-info-background:#eee;
$main-color:#82b841;
$word-color:#4b4b4b;
