@import "variables";

#login-body {
  background-image: url(../assets/resources/images/abeing-wellness-bg.jpg);
  background-position: center;
  background-size: auto 90vw;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.intro-content {
  margin-top: 10vh;
}

.intro-title {
  text-align: center;

  img {
    width: 144px;
  }

  h1 {
    font-size: 1.8em;
    margin: 10px 0 2px 0;
    font-weight: bold;
    color: $theme-color-gray;
  }

  h2 {
    font-size: 1.2em;
    margin: 4px 0 6px 0;
    color: #666;
  }
}

.welcome-bg {
  width: 100%;
  height: 100%;
  min-height: 100%;

  .panel {
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.1) solid 1px;

    .panel-body {
      padding: 24px;
    }
  }
}

.link-forgot {
  a {
    color: white;
    text-decoration: underline;
  }
}

.mastfooter {
  text-align: center;
  position: relative;
  bottom: 0;

  @media screen and (min-width: $break-small) {
    width: 100%;
  }

  .inner {
    padding-top: 24px;

    a {
      color: white;
    }
  }
}

