<div class="targetValueBar">
    <div class="height"></div><span>高於目標值</span>
    <div class="criterion"></div><span>符合目標值</span>
    <div class="low"></div><span>低於目標值</span>
</div>
<ng-echarts id="chart" class="flot-chart-content echarts" ec-config="patDCtrl.chartConfig" ec-option="patDCtrl.chartOption.boxplot"></ng-echarts>
<ng-echarts id="chart" class="flot-chart-content echarts" ec-config="patDCtrl.chartConfig" ec-option="patDCtrl.chartOption.lineChart"></ng-echarts>
<div ng-show="patDCtrl.showPeriodTimeBar">
    <div class="periodTimeBar">
        <div class="barTitle">目前達成率</div>
        <div class="targetValueBar">
            <div class="height"></div><span>高於目標值</span>
            <div class="criterion"></div><span>符合目標值</span>
            <div class="low"></div><span>低於目標值</span>
        </div>
        <div class="periodTimeBox" ng-repeat="x in patDCtrl.BGDataObject.periodTime.morningTime">
            <h4>{{x.title}}</h4>
            <div class="periodTimeChartBox">
                <div class="tableTitle">{{x.boxTitle}}</div>
                <div class="tableChart">
                    <div ng-show="x.noData" class="noDataChart">
                        <div class="noDataPieChart"></div>
                        <span class="noData">無資料</span>
                    </div>
                    <ng-echarts ng-hide="x.noData" id="chart" class="pie-chart-PGContent echarts" ec-config="patDCtrl.chartConfig" ec-option="x.pieChart"></ng-echarts>
                </div>
            </div>
        </div>
    </div>
    <div class="periodTimeBar">
        <div class="periodTimeBox" ng-repeat="x in patDCtrl.BGDataObject.periodTime.lunchTime">
            <h4>{{x.title}}</h4>
            <div class="periodTimeChartBox">
                <div class="tableTitle">{{x.boxTitle}}</div>
                <div class="tableChart">
                    <div ng-show="x.noData" class="noDataChart">
                        <div class="noDataPieChart"></div>
                        <span class="noData">無資料</span>
                    </div>
                    <ng-echarts ng-hide="x.noData" id="chart" class="pie-chart-PGContent echarts" ec-config="patDCtrl.chartConfig" ec-option="x.pieChart"></ng-echarts>
                </div>
            </div>
        </div>
    </div>
    <div class="periodTimeBar">
        <div class="periodTimeBox" ng-repeat="x in patDCtrl.BGDataObject.periodTime.dinnerTime">
            <h4>{{x.title}}</h4>
            <div class="periodTimeChartBox">
                <div class="tableTitle">{{x.boxTitle}}</div>
                <div class="tableChart">
                    <div ng-show="x.noData" class="noDataChart">
                        <div class="noDataPieChart"></div>
                        <span class="noData">無資料</span>
                    </div>
                    <ng-echarts ng-hide="x.noData" id="chart" class="pie-chart-PGContent echarts" ec-config="patDCtrl.chartConfig" ec-option="x.pieChart"></ng-echarts>
                </div>
            </div>
        </div>
    </div>
    <div class="periodTimeBar">
        <div class="periodTimeBox" ng-repeat="x in patDCtrl.BGDataObject.periodTime.earlyMorning">
            <h4>{{x.title}}</h4>
            <div class="periodTimeChartBox">
                <div class="tableTitle">{{x.boxTitle}}</div>
                <div class="tableChart">
                    <div ng-show="x.noData" class="noDataChart">
                        <div class="noDataPieChart"></div>
                        <span class="noData">無資料</span>
                    </div>
                    <ng-echarts ng-hide="x.noData" id="chart" class="pie-chart-PGContent echarts" ec-config="patDCtrl.chartConfig" ec-option="x.pieChart"></ng-echarts>
                </div>
            </div>
        </div>
    </div>
</div>