<div class="raw-data">
    <!--七日一覽表-->
    <div class="noteContainer">
        <label style="background-color: #D84E4E;height: 10px; width: 10px; margin: 0 7px 0 0;"></label><label style="margin: 0 25px 0 0;">高於目標值</label>
        <label style="background-color: #82B841;height: 10px; width: 10px; margin: 0 7px 0 0;"></label><label style="margin: 0 25px 0 0;">符合目標值</label>
        <label style="background-color: #EFD400;height: 10px; width: 10px; margin: 0 7px 0 0;"></label><label style="margin: 0 25px 0 0;">低於目標值</label>
    </div>
    <div ng-if="patDCtrl.currentType == 'bg'" >
        <div>
            <table id="testable" class="table raw-data-table table-striped text-center" style="height: 300px;" fixed-header>
                <thead >
                    <tr style="background: #FFFFFF;"><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                    <tr>
                        <th rowspan="2" style="line-height: 4;"> <div>測量日期</div> </th> <th rowspan="2" style="line-height: 4;"> <div>晨起</div> </th> <th colspan="2"> <div>晨起</div> </th> <th colspan="2"> <div>午餐</div> </th> <th colspan="2"> <div>晚餐</div> </th> <th rowspan="2" style="line-height: 4;"> <div>睡前</div> </th> <th rowspan="2" style="line-height: 4;"> <div>凌晨</div> </th>
                    </tr>
                    <tr>
                        <th> <div>餐前</div> </th> <th> <div>餐後</div> </th> <th> <div>餐前</div> </th> <th> <div>餐後</div> </th> <th> <div>餐前</div> </th> <th> <div>餐後</div> </th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="data in bgDataGroup">
                    <td>{{data.start}}</td>
                    <td ng-style="{color:data.bgData.time_bg_wakeup.goal == 0 ? '#82b841' : data.bgData.time_bg_wakeup.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_bg_wakeup.value}}</td>
                    <td ng-style="{color:data.bgData.time_before_breakfast.goal == 0 ? '#82b841' : data.bgData.time_before_breakfast.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_before_breakfast.value}}</td>
                    <td ng-style="{color:data.bgData.time_after_breakfast.goal == 0 ? '#82b841' : data.bgData.time_after_breakfast.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_after_breakfast.value}}</td>
                    <td ng-style="{color:data.bgData.time_before_lunch.goal == 0 ? '#82b841' : data.bgData.time_before_lunch.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_before_lunch.value}}</td>
                    <td ng-style="{color:data.bgData.time_after_lunch.goal == 0 ? '#82b841' : data.bgData.time_after_lunch.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_after_lunch.value}}</td>
                    <td ng-style="{color:data.bgData.time_before_dinner.goal == 0 ? '#82b841' : data.bgData.time_before_dinner.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_before_dinner.value}}</td>
                    <td ng-style="{color:data.bgData.time_after_dinner.goal == 0 ? '#82b841' : data.bgData.time_after_dinner.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_after_dinner.value}}</td>
                    <td ng-style="{color:data.bgData.time_sleep.goal == 0 ? '#82b841' : data.bgData.time_sleep.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_sleep.value}}</td>
                    <td ng-style="{color:data.bgData.time_bg_night.goal == 0 ? '#82b841' : data.bgData.time_bg_night.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bgData.time_bg_night.value}}</td>
                </tr>
                <tr ng-repeat-end="" ng-if="($index+1) % 7 == 0" class="avgTr">
                    <td>七日平均</td>
                    <td>{{getDataGroupAvg('time_bg_wakeup', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_before_breakfast', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_after_breakfast', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_before_lunch', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_after_lunch', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_before_dinner', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_after_dinner', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_sleep', $index-6, 7)}}</td>
                    <td>{{getDataGroupAvg('time_bg_night', $index-6, 7)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--平均表-->
        <strong style="margin-top: 45px;">資料日期區間{{patDCtrl.start}} ~ {{patDCtrl.end}}</strong>
        <table class="table raw-data-table table-striped text-center">
            <thead>
            <tr>
                <th rowspan="2" style="line-height: 4;"> <div>統計資料</div> </th> <th rowspan="2" style="line-height: 4;"> <div>晨起</div> </th> <th colspan="2"> <div>晨起</div> </th> <th colspan="2"> <div>午餐</div> </th> <th colspan="2"> <div>晚餐</div> </th> <th rowspan="2" style="line-height: 4;"> <div>睡前</div> </th> <th rowspan="2" style="line-height: 4;"> <div>凌晨</div> </th>
            </tr>
            <tr>
                <th> <div>餐前</div> </th> <th> <div>餐後</div> </th> <th> <div>餐前</div> </th> <th> <div>餐後</div> </th> <th> <div>餐前</div> </th> <th> <div>餐後</div> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,value) in patDCtrl.keyName">
                <td style="background-color:#f0f0f0;">{{patDCtrl.keyName[key]}}</td>
                <td>{{bgDataSummary[key].time_bg_wakeup}}</td>
                <td style="background-color:#f0f0f0;">{{bgDataSummary[key].time_before_breakfast}}</td>
                <td>{{bgDataSummary[key].time_after_breakfast}}</td>
                <td style="background-color:#f0f0f0;">{{bgDataSummary[key].time_before_lunch}}</td>
                <td>{{bgDataSummary[key].time_after_lunch}}</td>
                <td style="background-color:#f0f0f0;">{{bgDataSummary[key].time_before_dinner}}</td>
                <td>{{bgDataSummary[key].time_after_dinner}}</td>
                <td style="background-color:#f0f0f0;">{{bgDataSummary[key].time_sleep}}</td>
                <td>{{bgDataSummary[key].time_bg_night}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="patDCtrl.currentType == 'bp'">
        <div>
            <table class="table raw-data-table table-striped text-center" style="height: 300px;" fixed-header>
                <thead>
                <!--**for header sticky-->
                <tr style="background: #FFFFFF;"><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                <tr>
                    <th rowspan="2" style="line-height: 4;"> <div>測量日期</div> </th>
                    <th colspan="3"> <div>晨起</div> </th>
                    <th colspan="3"> <div>早上</div> </th>
                    <th colspan="3"> <div>中午</div> </th>
                    <th colspan="3"> <div>下午</div> </th>
                    <th colspan="3"> <div>晚上</div> </th>
                </tr>
                <tr>
                    <th> <div>收縮</div> </th>
                    <th> <div>舒張</div> </th>
                    <th> <div>心跳</div> </th>
                    <th> <div>收縮</div> </th>
                    <th> <div>舒張</div> </th>
                    <th> <div>心跳</div> </th>
                    <th> <div>收縮</div> </th>
                    <th> <div>舒張</div> </th>
                    <th> <div>心跳</div> </th>
                    <th> <div>收縮</div> </th>
                    <th> <div>舒張</div> </th>
                    <th> <div>心跳</div> </th>
                    <th> <div>收縮</div> </th>
                    <th> <div>舒張</div> </th>
                    <th> <div>心跳</div> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="data in bpDataGroup">
                    <td>{{data.start}}</td>
                    <td ng-style="{color:data.bpData.sys_wakeup.goal == 0 ? '#82b841' : data.bpData.sys_wakeup.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.sys_wakeup.value}}</td>
                    <td ng-style="{color:data.bpData.dia_wakeup.goal == 0 ? '#82b841' : data.bpData.dia_wakeup.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.dia_wakeup.value}}</td>
                    <td ng-style="{color:data.bpData.pulse_wakeup.goal == 0 ? '#82b841' : data.bpData.pulse_wakeup.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.pulse_wakeup.value}}</td>
                    <td ng-style="{color:data.bpData.sys_morning.goal == 0 ? '#82b841' : data.bpData.sys_morning.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.sys_morning.value}}</td>
                    <td ng-style="{color:data.bpData.dia_morning.goal == 0 ? '#82b841' : data.bpData.dia_morning.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.dia_morning.value}}</td>
                    <td ng-style="{color:data.bpData.pulse_morning.goal == 0 ? '#82b841' : data.bpData.pulse_morning.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.pulse_morning.value}}</td>
                    <td ng-style="{color:data.bpData.sys_noon.goal == 0 ? '#82b841' : data.bpData.sys_noon.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.sys_noon.value}}</td>
                    <td ng-style="{color:data.bpData.dia_noon.goal == 0 ? '#82b841' : data.bpData.dia_noon.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.dia_noon.value}}</td>
                    <td ng-style="{color:data.bpData.pulse_noon.goal == 0 ? '#82b841' : data.bpData.pulse_noon.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.pulse_noon.value}}</td>
                    <td ng-style="{color:data.bpData.sys_afternoon.goal == 0 ? '#82b841' : data.bpData.sys_afternoon.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.sys_afternoon.value}}</td>
                    <td ng-style="{color:data.bpData.dia_afternoon.goal == 0 ? '#82b841' : data.bpData.dia_afternoon.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.dia_afternoon.value}}</td>
                    <td ng-style="{color:data.bpData.pulse_afternoon.goal == 0 ? '#82b841' : data.bpData.pulse_afternoon.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.pulse_afternoon.value}}</td>
                    <td ng-style="{color:data.bpData.sys_night.goal == 0 ? '#82b841' : data.bpData.sys_night.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.sys_night.value}}</td>
                    <td ng-style="{color:data.bpData.dia_night.goal == 0 ? '#82b841' : data.bpData.dia_night.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.dia_night.value}}</td>
                    <td ng-style="{color:data.bpData.pulse_night.goal == 0 ? '#82b841' : data.bpData.pulse_night.goal == -1 ? '#efd400' : '#d84e4e'}">{{data.bpData.pulse_night.value}}</td>
                </tr>
                <tr ng-repeat-end="" ng-if="($index+1) % 7 == 0" class="avgTr">
                    <td>七日平均</td>
                    <td>{{getBpDataGroupAvg('sys_wakeup', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('dia_wakeup', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('pulse_wakeup', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('sys_morning', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('dia_morning', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('pulse_morning', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('sys_noon', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('dia_noon', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('pulse_noon', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('sys_afternoon', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('dia_afternoon', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('pulse_afternoon', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('sys_night', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('dia_night', $index-6, 7)}}</td>
                    <td>{{getBpDataGroupAvg('pulse_night', $index-6, 7)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--平均表-->
        <strong style="margin-top: 45px;">資料日期區間：{{patDCtrl.start}} ~ {{patDCtrl.end}}</strong>
        <table class="table raw-data-table table-striped text-center">
            <thead>
            <tr>
                <th rowspan="2" style="line-height: 4;"> <div>統計資料</div> </th>
                <th colspan="3"> <div>晨起</div> </th>
                <th colspan="3"> <div>早上</div> </th>
                <th colspan="3"> <div>中午</div> </th>
                <th colspan="3"> <div>下午</div> </th>
                <th colspan="3"> <div>晚上</div> </th>
            </tr>
            <tr>
                <th> <div>收縮</div> </th>
                <th> <div>舒張</div> </th>
                <th> <div>心跳</div> </th>
                <th> <div>收縮</div> </th>
                <th> <div>舒張</div> </th>
                <th> <div>心跳</div> </th>
                <th> <div>收縮</div> </th>
                <th> <div>舒張</div> </th>
                <th> <div>心跳</div> </th>
                <th> <div>收縮</div> </th>
                <th> <div>舒張</div> </th>
                <th> <div>心跳</div> </th>
                <th> <div>收縮</div> </th>
                <th> <div>舒張</div> </th>
                <th> <div>心跳</div> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,value) in patDCtrl.keyName">
                <td style="background-color:#f0f0f0;">{{patDCtrl.keyName[key]}}</td>
                <td                                  >{{bpDataSummary[key].sys_wakeup}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].dia_wakeup}}</td>
                <td                                  >{{bpDataSummary[key].pulse_wakeup}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].sys_morning}}</td>
                <td                                  >{{bpDataSummary[key].dia_morning}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].pulse_morning}}</td>
                <td                                  >{{bpDataSummary[key].sys_noon}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].dia_noon}}</td>
                <td                                  >{{bpDataSummary[key].pulse_noon}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].sys_afternoon}}</td>
                <td                                  >{{bpDataSummary[key].dia_afternoon}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].pulse_afternoon}}</td>
                <td                                  >{{bpDataSummary[key].sys_night}}</td>
                <td style="background-color:#f0f0f0;">{{bpDataSummary[key].dia_night}}</td>
                <td                                  >{{bpDataSummary[key].pulse_night}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>